<div class="content">
			
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Dashboard </a></li>
								<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
								<li class="breadcrumb-item active">Admin Dashboard</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /Page Header -->
				
				<div class="good-morning-blk">
					<div class="row">
						<div class="col-md-6">
							<div class="morning-user">
								<h2>Good Morning, <span>Daniel Bruk</span></h2>
								<p>Have a nice day at work</p>
							</div>
						</div>
						<div class="col-md-6 position-blk">
							<div class="morning-img">
								<img src="~/assets/img/morning-img-01.png" alt="">
							</div>
						</div>
					</div>
				</div>
				
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<div class="dash-boxs comman-flex-center">
								<img src="~/assets/img/icons/profile-add.svg" alt="">
							</div>
							<div class="dash-content dash-count">
								<a asp-action="Index" asp-controller="Branch" class="btn btn-primary">Manage Branches</a>
								<h2><span class="counter-up">250</span></h2>
								<p><span class="passive-view"><i class="feather-arrow-up-right me-1"></i>40%</span> vs last month</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<div class="dash-boxs comman-flex-center">
								<img src="~/assets/img/icons/profile-add.svg" alt="">
							</div>
							<div class="dash-content dash-count">
								<a asp-action="Index" asp-controller="OnboardAdmin" class="btn btn-primary">Manage Admins</a>
								<h2><span class="counter-up">140</span></h2>
								<p><span class="passive-view"><i class="feather-arrow-up-right me-1"></i>20%</span> vs last month</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<div class="dash-boxs comman-flex-center">
								<img src="assets/img/icons/scissor.svg" alt="">
							</div>
							<div class="dash-content dash-count">
								<h4>Operations</h4>
								<h2><span class="counter-up">56</span></h2>
								<p><span class="negative-view"><i class="feather-arrow-down-right me-1"></i>15%</span> vs last month</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<div class="dash-boxs comman-flex-center">
								<img src="assets/img/icons/empty-wallet.svg" alt="">
							</div>
							<div class="dash-content dash-count">
								<h4>Earnings</h4>
								<h2>$<span class="counter-up">20,250</span></h2>
								<p><span class="passive-view"><i class="feather-arrow-up-right me-1"></i>30%</span> vs last month</p>
							</div>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-12 col-md-12 col-lg-6 col-xl-9">
						<div class="card">
							<div class="card-body">
								<div class="chart-title patient-visit">
									<h4>Patient Visit by Gender</h4>
									<div>
										<ul class="nav chat-user-total">
											<li><i class="fa fa-circle current-users" aria-hidden="true"></i>Male 75%</li>
											<li><i class="fa fa-circle old-users" aria-hidden="true"></i> Female 25%</li>
										</ul>
									</div>
									<div class="input-block mb-0">
										<select class="form-control select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
											<option data-select2-id="3">2022</option>
											<option>2021</option>
											<option>2020</option>
											<option>2019</option>
										</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-adwx-container"><span class="select2-selection__rendered" id="select2-adwx-container" role="textbox" aria-readonly="true" title="2022">2022</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
									</div>
								</div>	
								<div id="patient-chart" style="min-height: 245px;"><div id="apexchartswul37a2r" class="apexcharts-canvas apexchartswul37a2r apexcharts-theme-" style="width: 870px; height: 230px;"><svg id="SvgjsSvg1201" width="870" height="230" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"><foreignObject x="0" y="0" width="870" height="230"><div xmlns="http://www.w3.org/1999/xhtml" style="position: relative; height: 100%; width: 100%;"><div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" style="right: 0px; position: absolute; left: 0px; top: 205px; max-height: 115px;"><div class="apexcharts-legend-series" rel="1" seriesname="Male" data:collapsed="false" style="margin: 4px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;"><svg id="SvgjsSvg1204" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"><defs id="SvgjsDefs1205"><clipPath id="gridRectMaskwul37a2r"><rect id="SvgjsRect1217" width="808.6124019622803" height="138.99519938278198" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectBarMaskwul37a2r"><rect id="SvgjsRect1218" width="812.6124019622803" height="142.99519938278198" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskwul37a2r"><rect id="SvgjsRect1219" width="808.6124019622803" height="138.99519938278198" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskwul37a2r"></clipPath><clipPath id="nonForecastMaskwul37a2r"></clipPath></defs><path id="SvgjsPath1206" d="M -6.222222222222222 -6.222222222222222 
           L 6.222222222222222 -6.222222222222222 
           L 6.222222222222222 6.222222222222222 
           L -6.222222222222222 6.222222222222222 
           Z" fill="#2e37a4" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="square" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-square" style="transform: translate(50%, 50%);"></path></svg></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Male" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Male</span></div><div class="apexcharts-legend-series" rel="2" seriesname="Female" data:collapsed="false" style="margin: 4px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;"><svg id="SvgjsSvg1207" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"><defs id="SvgjsDefs1208"></defs><path id="SvgjsPath1209" d="M -6.222222222222222 -6.222222222222222 
           L 6.222222222222222 -6.222222222222222 
           L 6.222222222222222 6.222222222222222 
           L -6.222222222222222 6.222222222222222 
           Z" fill="#00d3c7" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="square" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-square" style="transform: translate(50%, 50%);"></path></svg></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Female" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Female</span></div></div></div><style type="text/css">
      .apexcharts-legend {
        display: flex;
        overflow: auto;
        padding: 0 10px;
      }
      .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
        flex-wrap: wrap
      }
      .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
        flex-direction: column;
        bottom: 0;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
        justify-content: flex-start;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
        justify-content: center;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
        justify-content: flex-end;
      }
      .apexcharts-legend-series {
        cursor: pointer;
        line-height: normal;
        display: flex;
        align-items: center;
      }
      .apexcharts-legend-text {
        position: relative;
        font-size: 14px;
      }
      .apexcharts-legend-text *, .apexcharts-legend-marker * {
        pointer-events: none;
      }
      .apexcharts-legend-marker {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 1px;
      }

      .apexcharts-legend-series.apexcharts-no-click {
        cursor: auto;
      }
      .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
        display: none !important;
      }
      .apexcharts-inactive-legend {
        opacity: 0.45;
      }</style></foreignObject><g id="SvgjsG1220" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g><g id="SvgjsG1221" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g><g id="SvgjsG1342" class="apexcharts-yaxis" rel="0" transform="translate(9.51767635345459, 0)"><g id="SvgjsG1343" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1345" font-family="Helvetica, Arial, sans-serif" x="20" y="33.666666666666664" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1346">80</tspan><title>80</title></text><text id="SvgjsText1348" font-family="Helvetica, Arial, sans-serif" x="20" y="68.41546651236216" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1349">60</tspan><title>60</title></text><text id="SvgjsText1351" font-family="Helvetica, Arial, sans-serif" x="20" y="103.16426635805766" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1352">40</tspan><title>40</title></text><text id="SvgjsText1354" font-family="Helvetica, Arial, sans-serif" x="20" y="137.91306620375315" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1355">20</tspan><title>20</title></text><text id="SvgjsText1357" font-family="Helvetica, Arial, sans-serif" x="20" y="172.66186604944863" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1358">0</tspan><title>0</title></text></g></g><g id="SvgjsG1203" class="apexcharts-inner apexcharts-graphical" transform="translate(39.51767635345459, 30)"><defs id="SvgjsDefs1202"><linearGradient id="SvgjsLinearGradient1212" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1213" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop><stop id="SvgjsStop1214" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop><stop id="SvgjsStop1215" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop></linearGradient></defs><rect id="SvgjsRect1216" width="10.107655024528503" height="138.99519938278198" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke-dasharray="3" fill="url(#SvgjsLinearGradient1212)" class="apexcharts-xcrosshairs" y2="138.99519938278198" filter="none" fill-opacity="0.9"></rect><line id="SvgjsLine1281" x1="0" y1="138.99519938278198" x2="0" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1282" x1="67.38436683019002" y1="138.99519938278198" x2="67.38436683019002" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1283" x1="134.76873366038004" y1="138.99519938278198" x2="134.76873366038004" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1284" x1="202.15310049057007" y1="138.99519938278198" x2="202.15310049057007" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1285" x1="269.5374673207601" y1="138.99519938278198" x2="269.5374673207601" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1286" x1="336.9218341509501" y1="138.99519938278198" x2="336.9218341509501" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1287" x1="404.3062009811401" y1="138.99519938278198" x2="404.3062009811401" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1288" x1="471.6905678113301" y1="138.99519938278198" x2="471.6905678113301" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1289" x1="539.0749346415201" y1="138.99519938278198" x2="539.0749346415201" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1290" x1="606.4593014717102" y1="138.99519938278198" x2="606.4593014717102" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1291" x1="673.8436683019003" y1="138.99519938278198" x2="673.8436683019003" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1292" x1="741.2280351320903" y1="138.99519938278198" x2="741.2280351320903" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1293" x1="808.6124019622804" y1="138.99519938278198" x2="808.6124019622804" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><g id="SvgjsG1277" class="apexcharts-grid"><g id="SvgjsG1278" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1295" x1="0" y1="34.748799845695494" x2="808.6124019622803" y2="34.748799845695494" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1296" x1="0" y1="69.49759969139099" x2="808.6124019622803" y2="69.49759969139099" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1297" x1="0" y1="104.24639953708649" x2="808.6124019622803" y2="104.24639953708649" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1279" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1300" x1="0" y1="138.99519938278198" x2="808.6124019622803" y2="138.99519938278198" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1299" x1="0" y1="1" x2="0" y2="138.99519938278198" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1280" class="apexcharts-grid-borders"><line id="SvgjsLine1294" x1="0" y1="0" x2="808.6124019622803" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1298" x1="0" y1="138.99519938278198" x2="808.6124019622803" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1341" x1="0" y1="138.99519938278198" x2="808.6124019622803" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG1222" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG1223" class="apexcharts-series" seriesName="Male" rel="1" data:realIndex="0"><path id="SvgjsPath1227" d="M 28.638355902830757 138.99619938278198 L 28.638355902830757 104.2473995370865 L 38.74601092735926 104.2473995370865 L 38.74601092735926 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 28.638355902830757 138.99619938278198 L 28.638355902830757 104.2473995370865 L 38.74601092735926 104.2473995370865 L 38.74601092735926 138.99619938278198 z" pathFrom="M 28.638355902830757 138.99619938278198 L 28.638355902830757 138.99619938278198 L 38.74601092735926 138.99619938278198 L 38.74601092735926 138.99619938278198 L 38.74601092735926 138.99619938278198 L 38.74601092735926 138.99619938278198 L 38.74601092735926 138.99619938278198 L 28.638355902830757 138.99619938278198 z" cy="104.24639953708649" cx="96.02272273302077" j="0" val="20" barHeight="34.748799845695494" barWidth="10.107655024528503"></path><path id="SvgjsPath1229" d="M 96.02272273302077 138.99619938278198 L 96.02272273302077 86.87299961423874 L 106.13037775754927 86.87299961423874 L 106.13037775754927 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 96.02272273302077 138.99619938278198 L 96.02272273302077 86.87299961423874 L 106.13037775754927 86.87299961423874 L 106.13037775754927 138.99619938278198 z" pathFrom="M 96.02272273302077 138.99619938278198 L 96.02272273302077 138.99619938278198 L 106.13037775754927 138.99619938278198 L 106.13037775754927 138.99619938278198 L 106.13037775754927 138.99619938278198 L 106.13037775754927 138.99619938278198 L 106.13037775754927 138.99619938278198 L 96.02272273302077 138.99619938278198 z" cy="86.87199961423873" cx="163.40708956321077" j="1" val="30" barHeight="52.123199768543245" barWidth="10.107655024528503"></path><path id="SvgjsPath1231" d="M 163.40708956321077 138.99619938278198 L 163.40708956321077 67.76115969910622 L 173.51474458773927 67.76115969910622 L 173.51474458773927 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 163.40708956321077 138.99619938278198 L 163.40708956321077 67.76115969910622 L 173.51474458773927 67.76115969910622 L 173.51474458773927 138.99619938278198 z" pathFrom="M 163.40708956321077 138.99619938278198 L 163.40708956321077 138.99619938278198 L 173.51474458773927 138.99619938278198 L 173.51474458773927 138.99619938278198 L 173.51474458773927 138.99619938278198 L 173.51474458773927 138.99619938278198 L 173.51474458773927 138.99619938278198 L 163.40708956321077 138.99619938278198 z" cy="67.76015969910621" cx="230.79145639340078" j="2" val="41" barHeight="71.23503968367577" barWidth="10.107655024528503"></path><path id="SvgjsPath1233" d="M 230.79145639340078 138.99619938278198 L 230.79145639340078 22.587719899702076 L 240.89911141792928 22.587719899702076 L 240.89911141792928 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 230.79145639340078 138.99619938278198 L 230.79145639340078 22.587719899702076 L 240.89911141792928 22.587719899702076 L 240.89911141792928 138.99619938278198 z" pathFrom="M 230.79145639340078 138.99619938278198 L 230.79145639340078 138.99619938278198 L 240.89911141792928 138.99619938278198 L 240.89911141792928 138.99619938278198 L 240.89911141792928 138.99619938278198 L 240.89911141792928 138.99619938278198 L 240.89911141792928 138.99619938278198 L 230.79145639340078 138.99619938278198 z" cy="22.586719899702075" cx="298.1758232235908" j="3" val="67" barHeight="116.4084794830799" barWidth="10.107655024528503"></path><path id="SvgjsPath1235" d="M 298.1758232235908 138.99619938278198 L 298.1758232235908 100.77251955251694 L 308.2834782481193 100.77251955251694 L 308.2834782481193 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 298.1758232235908 138.99619938278198 L 298.1758232235908 100.77251955251694 L 308.2834782481193 100.77251955251694 L 308.2834782481193 138.99619938278198 z" pathFrom="M 298.1758232235908 138.99619938278198 L 298.1758232235908 138.99619938278198 L 308.2834782481193 138.99619938278198 L 308.2834782481193 138.99619938278198 L 308.2834782481193 138.99619938278198 L 308.2834782481193 138.99619938278198 L 308.2834782481193 138.99619938278198 L 298.1758232235908 138.99619938278198 z" cy="100.77151955251693" cx="365.5601900537808" j="4" val="22" barHeight="38.22367983026504" barWidth="10.107655024528503"></path><path id="SvgjsPath1237" d="M 365.5601900537808 138.99619938278198 L 365.5601900537808 64.28627971453666 L 375.6678450783093 64.28627971453666 L 375.6678450783093 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 365.5601900537808 138.99619938278198 L 365.5601900537808 64.28627971453666 L 375.6678450783093 64.28627971453666 L 375.6678450783093 138.99619938278198 z" pathFrom="M 365.5601900537808 138.99619938278198 L 365.5601900537808 138.99619938278198 L 375.6678450783093 138.99619938278198 L 375.6678450783093 138.99619938278198 L 375.6678450783093 138.99619938278198 L 375.6678450783093 138.99619938278198 L 375.6678450783093 138.99619938278198 L 365.5601900537808 138.99619938278198 z" cy="64.28527971453666" cx="432.9445568839708" j="5" val="43" barHeight="74.70991966824532" barWidth="10.107655024528503"></path><path id="SvgjsPath1239" d="M 432.9445568839708 138.99619938278198 L 432.9445568839708 69.498599691391 L 443.0522119084993 69.498599691391 L 443.0522119084993 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 432.9445568839708 138.99619938278198 L 432.9445568839708 69.498599691391 L 443.0522119084993 69.498599691391 L 443.0522119084993 138.99619938278198 z" pathFrom="M 432.9445568839708 138.99619938278198 L 432.9445568839708 138.99619938278198 L 443.0522119084993 138.99619938278198 L 443.0522119084993 138.99619938278198 L 443.0522119084993 138.99619938278198 L 443.0522119084993 138.99619938278198 L 443.0522119084993 138.99619938278198 L 432.9445568839708 138.99619938278198 z" cy="69.49759969139099" cx="500.3289237141608" j="6" val="40" barHeight="69.49759969139099" barWidth="10.107655024528503"></path><path id="SvgjsPath1241" d="M 500.3289237141608 138.99619938278198 L 500.3289237141608 121.62179945993424 L 510.4365787386893 121.62179945993424 L 510.4365787386893 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 500.3289237141608 138.99619938278198 L 500.3289237141608 121.62179945993424 L 510.4365787386893 121.62179945993424 L 510.4365787386893 138.99619938278198 z" pathFrom="M 500.3289237141608 138.99619938278198 L 500.3289237141608 138.99619938278198 L 510.4365787386893 138.99619938278198 L 510.4365787386893 138.99619938278198 L 510.4365787386893 138.99619938278198 L 510.4365787386893 138.99619938278198 L 510.4365787386893 138.99619938278198 L 500.3289237141608 138.99619938278198 z" cy="121.62079945993423" cx="567.7132905443508" j="7" val="10" barHeight="17.374399922847747" barWidth="10.107655024528503"></path><path id="SvgjsPath1243" d="M 567.7132905443508 138.99619938278198 L 567.7132905443508 86.87299961423874 L 577.8209455688793 86.87299961423874 L 577.8209455688793 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 567.7132905443508 138.99619938278198 L 567.7132905443508 86.87299961423874 L 577.8209455688793 86.87299961423874 L 577.8209455688793 138.99619938278198 z" pathFrom="M 567.7132905443508 138.99619938278198 L 567.7132905443508 138.99619938278198 L 577.8209455688793 138.99619938278198 L 577.8209455688793 138.99619938278198 L 577.8209455688793 138.99619938278198 L 577.8209455688793 138.99619938278198 L 577.8209455688793 138.99619938278198 L 567.7132905443508 138.99619938278198 z" cy="86.87199961423873" cx="635.0976573745409" j="8" val="30" barHeight="52.123199768543245" barWidth="10.107655024528503"></path><path id="SvgjsPath1245" d="M 635.0976573745409 138.99619938278198 L 635.0976573745409 104.2473995370865 L 645.2053123990694 104.2473995370865 L 645.2053123990694 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 635.0976573745409 138.99619938278198 L 635.0976573745409 104.2473995370865 L 645.2053123990694 104.2473995370865 L 645.2053123990694 138.99619938278198 z" pathFrom="M 635.0976573745409 138.99619938278198 L 635.0976573745409 138.99619938278198 L 645.2053123990694 138.99619938278198 L 645.2053123990694 138.99619938278198 L 645.2053123990694 138.99619938278198 L 645.2053123990694 138.99619938278198 L 645.2053123990694 138.99619938278198 L 635.0976573745409 138.99619938278198 z" cy="104.24639953708649" cx="702.4820242047309" j="9" val="20" barHeight="34.748799845695494" barWidth="10.107655024528503"></path><path id="SvgjsPath1247" d="M 702.4820242047309 138.99619938278198 L 702.4820242047309 69.498599691391 L 712.5896792292594 69.498599691391 L 712.5896792292594 138.99619938278198 z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 702.4820242047309 138.99619938278198 L 702.4820242047309 69.498599691391 L 712.5896792292594 69.498599691391 L 712.5896792292594 138.99619938278198 z" pathFrom="M 702.4820242047309 138.99619938278198 L 702.4820242047309 138.99619938278198 L 712.5896792292594 138.99619938278198 L 712.5896792292594 138.99619938278198 L 712.5896792292594 138.99619938278198 L 712.5896792292594 138.99619938278198 L 712.5896792292594 138.99619938278198 L 702.4820242047309 138.99619938278198 z" cy="69.49759969139099" cx="769.866391034921" j="10" val="40" barHeight="69.49759969139099" barWidth="10.107655024528503"></path><path id="SvgjsPath1249" d="M 769.866391034921 138.99619938278198 L 769.866391034921 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 z" fill="none" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 769.866391034921 138.99619938278198 L 769.866391034921 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 z" pathFrom="M 769.866391034921 138.99619938278198 L 769.866391034921 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 L 769.866391034921 138.99619938278198 z" cy="138.99519938278198" cx="837.250757865111" j="11" barHeight="0" barWidth="10.107655024528503"></path><g id="SvgjsG1225" class="apexcharts-bar-goals-markers"><g id="SvgjsG1226" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1228" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1230" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1232" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1234" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1236" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1238" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1240" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1242" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1244" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1246" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1248" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g></g></g><g id="SvgjsG1250" class="apexcharts-series" seriesName="Female" rel="2" data:realIndex="1"><path id="SvgjsPath1254" d="M 28.638355902830757 104.2483995370865 L 28.638355902830757 81.66167963738442 L 38.74601092735926 81.66167963738442 L 38.74601092735926 104.2483995370865 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 28.638355902830757 104.2483995370865 L 28.638355902830757 81.66167963738442 L 38.74601092735926 81.66167963738442 L 38.74601092735926 104.2483995370865 z" pathFrom="M 28.638355902830757 104.2483995370865 L 28.638355902830757 104.2483995370865 L 38.74601092735926 104.2483995370865 L 38.74601092735926 104.2483995370865 L 38.74601092735926 104.2483995370865 L 38.74601092735926 104.2483995370865 L 38.74601092735926 104.2483995370865 L 28.638355902830757 104.2483995370865 z" cy="81.66067963738442" cx="96.02272273302077" j="0" val="13" barHeight="22.58671989970207" barWidth="10.107655024528503"></path><path id="SvgjsPath1256" d="M 96.02272273302077 86.87399961423874 L 96.02272273302077 46.912879791688916 L 106.13037775754927 46.912879791688916 L 106.13037775754927 86.87399961423874 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 96.02272273302077 86.87399961423874 L 96.02272273302077 46.912879791688916 L 106.13037775754927 46.912879791688916 L 106.13037775754927 86.87399961423874 z" pathFrom="M 96.02272273302077 86.87399961423874 L 96.02272273302077 86.87399961423874 L 106.13037775754927 86.87399961423874 L 106.13037775754927 86.87399961423874 L 106.13037775754927 86.87399961423874 L 106.13037775754927 86.87399961423874 L 106.13037775754927 86.87399961423874 L 96.02272273302077 86.87399961423874 z" cy="46.91187979168892" cx="163.40708956321077" j="1" val="23" barHeight="39.96111982254982" barWidth="10.107655024528503"></path><path id="SvgjsPath1258" d="M 163.40708956321077 67.76215969910622 L 163.40708956321077 33.01335985341072 L 173.51474458773927 33.01335985341072 L 173.51474458773927 67.76215969910622 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 163.40708956321077 67.76215969910622 L 163.40708956321077 33.01335985341072 L 173.51474458773927 33.01335985341072 L 173.51474458773927 67.76215969910622 z" pathFrom="M 163.40708956321077 67.76215969910622 L 163.40708956321077 67.76215969910622 L 173.51474458773927 67.76215969910622 L 173.51474458773927 67.76215969910622 L 173.51474458773927 67.76215969910622 L 173.51474458773927 67.76215969910622 L 173.51474458773927 67.76215969910622 L 163.40708956321077 67.76215969910622 z" cy="33.01235985341072" cx="230.79145639340078" j="2" val="20" barHeight="34.748799845695494" barWidth="10.107655024528503"></path><path id="SvgjsPath1260" d="M 230.79145639340078 22.588719899702077 L 230.79145639340078 8.689199961423878 L 240.89911141792928 8.689199961423878 L 240.89911141792928 22.588719899702077 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 230.79145639340078 22.588719899702077 L 230.79145639340078 8.689199961423878 L 240.89911141792928 8.689199961423878 L 240.89911141792928 22.588719899702077 z" pathFrom="M 230.79145639340078 22.588719899702077 L 230.79145639340078 22.588719899702077 L 240.89911141792928 22.588719899702077 L 240.89911141792928 22.588719899702077 L 240.89911141792928 22.588719899702077 L 240.89911141792928 22.588719899702077 L 240.89911141792928 22.588719899702077 L 230.79145639340078 22.588719899702077 z" cy="8.688199961423878" cx="298.1758232235908" j="3" val="8" barHeight="13.899519938278198" barWidth="10.107655024528503"></path><path id="SvgjsPath1262" d="M 298.1758232235908 100.77351955251694 L 298.1758232235908 78.18679965281487 L 308.2834782481193 78.18679965281487 L 308.2834782481193 100.77351955251694 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 298.1758232235908 100.77351955251694 L 298.1758232235908 78.18679965281487 L 308.2834782481193 78.18679965281487 L 308.2834782481193 100.77351955251694 z" pathFrom="M 298.1758232235908 100.77351955251694 L 298.1758232235908 100.77351955251694 L 308.2834782481193 100.77351955251694 L 308.2834782481193 100.77351955251694 L 308.2834782481193 100.77351955251694 L 308.2834782481193 100.77351955251694 L 308.2834782481193 100.77351955251694 L 298.1758232235908 100.77351955251694 z" cy="78.18579965281486" cx="365.5601900537808" j="4" val="13" barHeight="22.58671989970207" barWidth="10.107655024528503"></path><path id="SvgjsPath1264" d="M 365.5601900537808 64.28727971453667 L 365.5601900537808 17.376399922847742 L 375.6678450783093 17.376399922847742 L 375.6678450783093 64.28727971453667 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 365.5601900537808 64.28727971453667 L 365.5601900537808 17.376399922847742 L 375.6678450783093 17.376399922847742 L 375.6678450783093 64.28727971453667 z" pathFrom="M 365.5601900537808 64.28727971453667 L 365.5601900537808 64.28727971453667 L 375.6678450783093 64.28727971453667 L 375.6678450783093 64.28727971453667 L 375.6678450783093 64.28727971453667 L 375.6678450783093 64.28727971453667 L 375.6678450783093 64.28727971453667 L 365.5601900537808 64.28727971453667 z" cy="17.37539992284774" cx="432.9445568839708" j="5" val="27" barHeight="46.91087979168892" barWidth="10.107655024528503"></path><path id="SvgjsPath1266" d="M 432.9445568839708 69.499599691391 L 432.9445568839708 17.37639992284775 L 443.0522119084993 17.37639992284775 L 443.0522119084993 69.499599691391 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 432.9445568839708 69.499599691391 L 432.9445568839708 17.37639992284775 L 443.0522119084993 17.37639992284775 L 443.0522119084993 69.499599691391 z" pathFrom="M 432.9445568839708 69.499599691391 L 432.9445568839708 69.499599691391 L 443.0522119084993 69.499599691391 L 443.0522119084993 69.499599691391 L 443.0522119084993 69.499599691391 L 443.0522119084993 69.499599691391 L 443.0522119084993 69.499599691391 L 432.9445568839708 69.499599691391 z" cy="17.37539992284775" cx="500.3289237141608" j="6" val="30" barHeight="52.123199768543245" barWidth="10.107655024528503"></path><path id="SvgjsPath1268" d="M 500.3289237141608 121.62279945993424 L 500.3289237141608 78.18679965281487 L 510.4365787386893 78.18679965281487 L 510.4365787386893 121.62279945993424 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 500.3289237141608 121.62279945993424 L 500.3289237141608 78.18679965281487 L 510.4365787386893 78.18679965281487 L 510.4365787386893 121.62279945993424 z" pathFrom="M 500.3289237141608 121.62279945993424 L 500.3289237141608 121.62279945993424 L 510.4365787386893 121.62279945993424 L 510.4365787386893 121.62279945993424 L 510.4365787386893 121.62279945993424 L 510.4365787386893 121.62279945993424 L 510.4365787386893 121.62279945993424 L 500.3289237141608 121.62279945993424 z" cy="78.18579965281486" cx="567.7132905443508" j="7" val="25" barHeight="43.435999807119366" barWidth="10.107655024528503"></path><path id="SvgjsPath1270" d="M 567.7132905443508 86.87399961423874 L 567.7132905443508 69.499599691391 L 577.8209455688793 69.499599691391 L 577.8209455688793 86.87399961423874 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 567.7132905443508 86.87399961423874 L 567.7132905443508 69.499599691391 L 577.8209455688793 69.499599691391 L 577.8209455688793 86.87399961423874 z" pathFrom="M 567.7132905443508 86.87399961423874 L 567.7132905443508 86.87399961423874 L 577.8209455688793 86.87399961423874 L 577.8209455688793 86.87399961423874 L 577.8209455688793 86.87399961423874 L 577.8209455688793 86.87399961423874 L 577.8209455688793 86.87399961423874 L 567.7132905443508 86.87399961423874 z" cy="69.498599691391" cx="635.0976573745409" j="8" val="10" barHeight="17.374399922847747" barWidth="10.107655024528503"></path><path id="SvgjsPath1272" d="M 635.0976573745409 104.2483995370865 L 635.0976573745409 78.18679965281487 L 645.2053123990694 78.18679965281487 L 645.2053123990694 104.2483995370865 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 635.0976573745409 104.2483995370865 L 635.0976573745409 78.18679965281487 L 645.2053123990694 78.18679965281487 L 645.2053123990694 104.2483995370865 z" pathFrom="M 635.0976573745409 104.2483995370865 L 635.0976573745409 104.2483995370865 L 645.2053123990694 104.2483995370865 L 645.2053123990694 104.2483995370865 L 645.2053123990694 104.2483995370865 L 645.2053123990694 104.2483995370865 L 645.2053123990694 104.2483995370865 L 635.0976573745409 104.2483995370865 z" cy="78.18579965281486" cx="702.4820242047309" j="9" val="15" barHeight="26.061599884271622" barWidth="10.107655024528503"></path><path id="SvgjsPath1274" d="M 702.4820242047309 69.499599691391 L 702.4820242047309 34.7507998456955 L 712.5896792292594 34.7507998456955 L 712.5896792292594 69.499599691391 z" fill="rgba(0,211,199,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 702.4820242047309 69.499599691391 L 702.4820242047309 34.7507998456955 L 712.5896792292594 34.7507998456955 L 712.5896792292594 69.499599691391 z" pathFrom="M 702.4820242047309 69.499599691391 L 702.4820242047309 69.499599691391 L 712.5896792292594 69.499599691391 L 712.5896792292594 69.499599691391 L 712.5896792292594 69.499599691391 L 712.5896792292594 69.499599691391 L 712.5896792292594 69.499599691391 L 702.4820242047309 69.499599691391 z" cy="34.7497998456955" cx="769.866391034921" j="10" val="20" barHeight="34.748799845695494" barWidth="10.107655024528503"></path><path id="SvgjsPath1276" d="M 769.866391034921 138.99619938278198 L 769.866391034921 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 z" fill="none" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskwul37a2r)" pathTo="M 769.866391034921 138.99619938278198 L 769.866391034921 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 z" pathFrom="M 769.866391034921 138.99619938278198 L 769.866391034921 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 L 779.9740460594495 138.99619938278198 L 769.866391034921 138.99619938278198 z" cy="138.99519938278198" cx="837.250757865111" j="11" barHeight="0" barWidth="10.107655024528503"></path><g id="SvgjsG1252" class="apexcharts-bar-goals-markers"><g id="SvgjsG1253" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1255" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1257" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1259" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1261" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1263" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1265" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1267" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1269" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1271" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1273" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g><g id="SvgjsG1275" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskwul37a2r)"></g></g></g><g id="SvgjsG1224" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG1251" class="apexcharts-datalabels" data:realIndex="1"></g></g><line id="SvgjsLine1301" x1="0" y1="0" x2="808.6124019622803" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1302" x1="0" y1="0" x2="808.6124019622803" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1303" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1304" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1306" font-family="Helvetica, Arial, sans-serif" x="33.69218341509501" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1307">Jan</tspan><title>Jan</title></text><text id="SvgjsText1309" font-family="Helvetica, Arial, sans-serif" x="101.07655024528503" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1310">Feb</tspan><title>Feb</title></text><text id="SvgjsText1312" font-family="Helvetica, Arial, sans-serif" x="168.46091707547507" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1313">Mar</tspan><title>Mar</title></text><text id="SvgjsText1315" font-family="Helvetica, Arial, sans-serif" x="235.84528390566507" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1316">Apr</tspan><title>Apr</title></text><text id="SvgjsText1318" font-family="Helvetica, Arial, sans-serif" x="303.22965073585505" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1319">May</tspan><title>May</title></text><text id="SvgjsText1321" font-family="Helvetica, Arial, sans-serif" x="370.61401756604505" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1322">Jun</tspan><title>Jun</title></text><text id="SvgjsText1324" font-family="Helvetica, Arial, sans-serif" x="437.99838439623505" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1325">Jul</tspan><title>Jul</title></text><text id="SvgjsText1327" font-family="Helvetica, Arial, sans-serif" x="505.3827512264251" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1328">Aug</tspan><title>Aug</title></text><text id="SvgjsText1330" font-family="Helvetica, Arial, sans-serif" x="572.7671180566152" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1331">Sep</tspan><title>Sep</title></text><text id="SvgjsText1333" font-family="Helvetica, Arial, sans-serif" x="640.1514848868053" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1334">Oct</tspan><title>Oct</title></text><text id="SvgjsText1336" font-family="Helvetica, Arial, sans-serif" x="707.5358517169954" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1337">Nov</tspan><title>Nov</title></text><text id="SvgjsText1339" font-family="Helvetica, Arial, sans-serif" x="774.9202185471854" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1340">Dec</tspan><title>Dec</title></text></g></g><g id="SvgjsG1359" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1360" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1361" class="apexcharts-point-annotations"></g></g></svg><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(46, 55, 164);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-1" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 211, 199);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-6 col-xl-3 d-flex">
						<div class="card">
							<div class="card-body">
								<div class="chart-title">
									<h4>Patient by Department</h4>
								</div>	
								<div id="donut-chart-dash" class="chart-user-icon" style="min-height: 290px;"><div id="apexchartszgrkoe2c" class="apexcharts-canvas apexchartszgrkoe2c apexcharts-theme-" style="width: 253px; height: 290px;"><svg id="SvgjsSvg1362" width="253" height="290" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"><foreignObject x="0" y="0" width="253" height="290"><div xmlns="http://www.w3.org/1999/xhtml" style="position: relative; height: 100%; width: 100%;"><div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" style="right: 0px; position: absolute; left: 0px; top: 241px; max-height: 145px;"><div class="apexcharts-legend-series" rel="1" seriesname="Neurology" data:collapsed="false" style="margin: 4px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;"><svg id="SvgjsSvg1365" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"><defs id="SvgjsDefs1366"><clipPath id="gridRectMaskzgrkoe2c"><rect id="SvgjsRect1377" width="253" height="232" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectBarMaskzgrkoe2c"><rect id="SvgjsRect1378" width="259" height="238" x="-3" y="-3" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskzgrkoe2c"><rect id="SvgjsRect1379" width="253" height="232" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskzgrkoe2c"></clipPath><clipPath id="nonForecastMaskzgrkoe2c"></clipPath></defs><path id="SvgjsPath1367" d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0" fill="#008ffb" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path></svg></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Neurology" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Neurology</span></div><div class="apexcharts-legend-series" rel="2" seriesname="DentalxCare" data:collapsed="false" style="margin: 4px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;"><svg id="SvgjsSvg1368" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"><defs id="SvgjsDefs1369"></defs><path id="SvgjsPath1370" d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0" fill="#00e396" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path></svg></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Dental%20Care" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Dental Care</span></div><div class="apexcharts-legend-series" rel="3" seriesname="Gynocology" data:collapsed="false" style="margin: 4px 5px;"><span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;"><svg id="SvgjsSvg1371" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"><defs id="SvgjsDefs1372"></defs><path id="SvgjsPath1373" d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0" fill="#feb019" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path></svg></span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Gynocology" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Gynocology</span></div><div class="apexcharts-legend-series" rel="4" seriesname="Orthopedic" data:collapsed="false" style="margin: 4px 5px;"><span class="apexcharts-legend-marker" rel="4" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;"><svg id="SvgjsSvg1374" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"><defs id="SvgjsDefs1375"></defs><path id="SvgjsPath1376" d="M 0, 0 
           m -7, 0 
           a 7,7 0 1,0 14,0 
           a 7,7 0 1,0 -14,0" fill="#ff4560" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path></svg></span><span class="apexcharts-legend-text" rel="4" i="3" data:default-text="Orthopedic" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Orthopedic</span></div></div></div><style type="text/css">
      .apexcharts-legend {
        display: flex;
        overflow: auto;
        padding: 0 10px;
      }
      .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
        flex-wrap: wrap
      }
      .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
        flex-direction: column;
        bottom: 0;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
        justify-content: flex-start;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
        justify-content: center;
      }
      .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
        justify-content: flex-end;
      }
      .apexcharts-legend-series {
        cursor: pointer;
        line-height: normal;
        display: flex;
        align-items: center;
      }
      .apexcharts-legend-text {
        position: relative;
        font-size: 14px;
      }
      .apexcharts-legend-text *, .apexcharts-legend-marker * {
        pointer-events: none;
      }
      .apexcharts-legend-marker {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 1px;
      }

      .apexcharts-legend-series.apexcharts-no-click {
        cursor: auto;
      }
      .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
        display: none !important;
      }
      .apexcharts-inactive-legend {
        opacity: 0.45;
      }</style></foreignObject><g id="SvgjsG1364" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1363"></defs><g id="SvgjsG1382" class="apexcharts-pie"><g id="SvgjsG1383" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1384" r="69.66097560975611" cx="126.5" cy="116" fill="transparent"></circle><g id="SvgjsG1385" class="apexcharts-slices"><g id="SvgjsG1386" class="apexcharts-series apexcharts-pie-series" seriesName="Neurology" rel="1" data:realIndex="0"><path id="SvgjsPath1387" d="M 126.5 8.829268292682912 A 107.17073170731709 107.17073170731709 0 0 1 231.74016137027527 136.25028813227505 L 194.90610489067893 129.1626872859788 A 69.66097560975611 69.66097560975611 0 0 0 126.5 46.33902439024389 L 126.5 8.829268292682912 z " fill="rgba(0,143,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="100.89171974522293" data:startAngle="0" data:strokeWidth="2" data:value="44" data:pathOrig="M 126.5 8.829268292682912 A 107.17073170731709 107.17073170731709 0 0 1 231.74016137027527 136.25028813227505 L 194.90610489067893 129.1626872859788 A 69.66097560975611 69.66097560975611 0 0 0 126.5 46.33902439024389 L 126.5 8.829268292682912 z " stroke="#ffffff"></path></g><g id="SvgjsG1388" class="apexcharts-series apexcharts-pie-series" seriesName="DentalxCare" rel="2" data:realIndex="1"><path id="SvgjsPath1389" d="M 231.74016137027527 136.25028813227505 A 107.17073170731709 107.17073170731709 0 0 1 48.11216388542795 189.08154954539987 L 75.54790652552816 163.5030072045099 A 69.66097560975611 69.66097560975611 0 0 0 194.90610489067893 129.1626872859788 L 231.74016137027527 136.25028813227505 z " fill="rgba(0,227,150,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="126.11464968152865" data:startAngle="100.89171974522293" data:strokeWidth="2" data:value="55" data:pathOrig="M 231.74016137027527 136.25028813227505 A 107.17073170731709 107.17073170731709 0 0 1 48.11216388542795 189.08154954539987 L 75.54790652552816 163.5030072045099 A 69.66097560975611 69.66097560975611 0 0 0 194.90610489067893 129.1626872859788 L 231.74016137027527 136.25028813227505 z " stroke="#ffffff"></path></g><g id="SvgjsG1390" class="apexcharts-series apexcharts-pie-series" seriesName="Gynocology" rel="3" data:realIndex="2"><path id="SvgjsPath1391" d="M 48.11216388542795 189.08154954539987 A 107.17073170731709 107.17073170731709 0 0 1 59.08305347835726 32.69021032087704 L 82.67898476093222 61.848636708570076 A 69.66097560975611 69.66097560975611 0 0 0 75.54790652552816 163.5030072045099 L 48.11216388542795 189.08154954539987 z " fill="rgba(254,176,25,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="94.01273885350315" data:startAngle="227.00636942675158" data:strokeWidth="2" data:value="41" data:pathOrig="M 48.11216388542795 189.08154954539987 A 107.17073170731709 107.17073170731709 0 0 1 59.08305347835726 32.69021032087704 L 82.67898476093222 61.848636708570076 A 69.66097560975611 69.66097560975611 0 0 0 75.54790652552816 163.5030072045099 L 48.11216388542795 189.08154954539987 z " stroke="#ffffff"></path></g><g id="SvgjsG1392" class="apexcharts-series apexcharts-pie-series" seriesName="Orthopedic" rel="4" data:realIndex="3"><path id="SvgjsPath1393" d="M 59.08305347835726 32.69021032087704 A 107.17073170731709 107.17073170731709 0 0 1 126.4812951787943 8.829269924986491 L 126.4878418662163 46.33902545124121 A 69.66097560975611 69.66097560975611 0 0 0 82.67898476093222 61.848636708570076 L 59.08305347835726 32.69021032087704 z " fill="rgba(255,69,96,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3" data:angle="38.980891719745216" data:startAngle="321.0191082802547" data:strokeWidth="2" data:value="17" data:pathOrig="M 59.08305347835726 32.69021032087704 A 107.17073170731709 107.17073170731709 0 0 1 126.4812951787943 8.829269924986491 L 126.4878418662163 46.33902545124121 A 69.66097560975611 69.66097560975611 0 0 0 82.67898476093222 61.848636708570076 L 59.08305347835726 32.69021032087704 z " stroke="#ffffff"></path></g></g></g></g><line id="SvgjsLine1394" x1="0" y1="0" x2="253" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1395" x1="0" y1="0" x2="253" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1380" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g><g id="SvgjsG1381" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g></svg><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 143, 251);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-1" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 227, 150);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-2" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(254, 176, 25);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-3" style="order: 4;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 69, 96);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-12  col-xl-4">
                        <div class="card top-departments">
							<div class="card-header">
								<h4 class="card-title mb-0">Top Departments</h4>
							</div>
                            <div class="card-body">
                                <div class="activity-top">
									<div class="activity-boxs comman-flex-center">
										<img src="assets/img/icons/dep-icon-01.svg" alt="">
									</div>
									<div class="departments-list">
										<h4>General Physician</h4>
										<p>35%</p>
									</div>
								</div>
								<div class="activity-top">
									<div class="activity-boxs comman-flex-center">
										<img src="assets/img/icons/dep-icon-02.svg" alt="">
									</div>
									<div class="departments-list">
										<h4>Dentist</h4>
										<p>24%</p>
									</div>
								</div>
								<div class="activity-top">
									<div class="activity-boxs comman-flex-center">
										<img src="assets/img/icons/dep-icon-03.svg" alt="">
									</div>
									<div class="departments-list">
										<h4>ENT</h4>
										<p>10%</p>
									</div>
								</div>
								<div class="activity-top">
									<div class="activity-boxs comman-flex-center">
										<img src="assets/img/icons/dep-icon-04.svg" alt="">
									</div>
									<div class="departments-list">
										<h4>Cardiologist</h4>
										<p>15%</p>
									</div>
								</div>
								<div class="activity-top mb-0">
									<div class="activity-boxs comman-flex-center">
										<img src="assets/img/icons/dep-icon-05.svg" alt="">
									</div>
									<div class="departments-list">
										<h4>Opthomology</h4>
										<p>20%</p>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
					<div class="col-12 col-md-12  col-xl-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">Upcoming Appointments</h4> <a href="appointments.html" class="patient-views float-end">Show all</a>
							</div>
							<div class="card-body p-0 table-dash">
								<div class="table-responsive">
									<div id="DataTables_Table_0_wrapper" class="dt-container dt-empty-footer"><div class="dt-layout-row"><div class="dt-layout-cell dt-layout-start"><div class="dt-length"><select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="dt-input" id="dt-length-0"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select><label for="dt-length-0"> entries per page</label></div></div><div class="dt-layout-cell dt-layout-end"></div></div><div class="dt-layout-row dt-layout-table"><div class="dt-layout-cell  dt-layout-full"><table class="table mb-0 border-0 datatable custom-table dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;"><colgroup><col data-dt-column="0" style="width: 66px;"><col data-dt-column="1" style="width: 78.1625px;"><col data-dt-column="2" style="width: 142.163px;"><col data-dt-column="3" style="width: 193.613px;"><col data-dt-column="4" style="width: 173.05px;"><col data-dt-column="5" style="width: 145px;"><col data-dt-column="6" style="width: 61px;"></colgroup>
										<thead>
											<tr><th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-asc" aria-sort="ascending" aria-label="
													
														
													
												: Activate to invert sorting" tabindex="0"><span class="dt-column-title" role="button">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</span><span class="dt-column-order"></span></th><th data-dt-column="1" rowspan="1" colspan="1" class="dt-type-numeric dt-orderable-asc dt-orderable-desc" aria-label="No: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">No</span><span class="dt-column-order"></span></th><th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Patient name: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Patient name</span><span class="dt-column-order"></span></th><th data-dt-column="3" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Doctor: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Doctor</span><span class="dt-column-order"></span></th><th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Time: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Time</span><span class="dt-column-order"></span></th><th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Disease: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Disease</span><span class="dt-column-order"></span></th><th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label=": Activate to sort" tabindex="0"><span class="dt-column-title" role="button"></span><span class="dt-column-order"></span></th></tr>
										</thead>
										<tbody><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00001</td>
												<td>Andrea Lalema</td>
												<td class="table-image appoint-doctor">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-02.jpg" alt=""> 
													<h2>Dr.Jenny Smith</h2>
												</td>
												<td class="appoint-time"><span>12.05.2022 at </span>7.00 PM</td>
												<td><button class="custom-badge status-green ">Fracture</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00002</td>
												<td>Cristina Groves</td>
												<td class="table-image appoint-doctor">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-03.jpg" alt=""> 
													<h2>Dr.Angelica Ramos</h2>
												</td>
												<td class="appoint-time"><span>13.05.2022 at </span>7.00 PM</td>
												<td><button class="custom-badge status-green">Fever</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00003</td>
												<td>Bernardo </td>
												<td class="table-image appoint-doctor">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-04.jpg" alt=""> 
													<h2>Dr.Martin Doe</h2>
												</td>
												<td class="appoint-time"><span>14.05.2022 at </span>7.00 PM</td>
												<td><button class="custom-badge status-green">Fracture</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00004</td>
												<td>Galaviz Lalema</td>
												<td class="table-image appoint-doctor">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-05.jpg" alt=""> 
													<h2>Dr.William Jerk</h2>
												</td>
												<td class="appoint-time"><span>15.05.2022 at </span>7.00 PM</td>
												<td><button class="custom-badge status-green">Fracture</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00005</td>
												<td>Cristina Groves</td>
												<td class="table-image appoint-doctor">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-03.jpg" alt=""> 
													<h2>Dr.Angelica Ramos</h2>
												</td>
												<td class="appoint-time"><span>16.05.2022 at </span>7.00 PM</td>
												<td><button class="custom-badge status-green">Fever</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-appointment.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr></tbody>
									<tfoot></tfoot></table></div></div><div class="dt-layout-row"><div class="dt-layout-cell dt-layout-start"><div class="dt-info" aria-live="polite" id="DataTables_Table_0_info" role="status">Showing 1 to 5 of 5 entries</div></div><div class="dt-layout-cell dt-layout-end"><div class="dt-paging"><nav aria-label="pagination"><button class="dt-paging-button disabled first" role="link" type="button" aria-controls="DataTables_Table_0" aria-disabled="true" aria-label="First" data-dt-idx="first" tabindex="-1">«</button><button class="dt-paging-button disabled previous" role="link" type="button" aria-controls="DataTables_Table_0" aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1">Previous</button><button class="dt-paging-button current" role="link" type="button" aria-controls="DataTables_Table_0" aria-current="page" data-dt-idx="0">1</button><button class="dt-paging-button disabled next" role="link" type="button" aria-controls="DataTables_Table_0" aria-disabled="true" aria-label="Next" data-dt-idx="next" tabindex="-1">Next</button><button class="dt-paging-button disabled last" role="link" type="button" aria-controls="DataTables_Table_0" aria-disabled="true" aria-label="Last" data-dt-idx="last" tabindex="-1">»</button></nav></div></div></div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-xl-12">
						<div class="card">
							<div class="card-header pb-0">
								<h4 class="card-title d-inline-block">Recent Patients </h4> <a href="patients.html" class="float-end patient-views">Show all</a>
							</div>
							<div class="card-block table-dash">
								<div class="table-responsive">
									<div id="DataTables_Table_1_wrapper" class="dt-container dt-empty-footer"><div class="dt-layout-row"><div class="dt-layout-cell dt-layout-start"><div class="dt-length"><select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="dt-input" id="dt-length-1"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select><label for="dt-length-1"> entries per page</label></div></div><div class="dt-layout-cell dt-layout-end"></div></div><div class="dt-layout-row dt-layout-table"><div class="dt-layout-cell  dt-layout-full"><table class="table mb-0 border-0 datatable custom-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info" style="width: 100%;"><colgroup><col data-dt-column="0" style="width: 93.625px;"><col data-dt-column="1" style="width: 110.888px;"><col data-dt-column="2" style="width: 238.55px;"><col data-dt-column="3" style="width: 104.2px;"><col data-dt-column="4" style="width: 205.663px;"><col data-dt-column="5" style="width: 165.588px;"><col data-dt-column="6" style="width: 205.7px;"><col data-dt-column="7" style="width: 86.5875px;"></colgroup>
										<thead>
											<tr><th data-dt-column="0" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-asc" aria-sort="ascending" aria-label="
													
														
													
												: Activate to invert sorting" tabindex="0"><span class="dt-column-title" role="button">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</span><span class="dt-column-order"></span></th><th data-dt-column="1" rowspan="1" colspan="1" class="dt-type-numeric dt-orderable-asc dt-orderable-desc" aria-label="No: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">No</span><span class="dt-column-order"></span></th><th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Patient name: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Patient name</span><span class="dt-column-order"></span></th><th data-dt-column="3" rowspan="1" colspan="1" class="dt-type-numeric dt-orderable-asc dt-orderable-desc" aria-label="Age: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Age</span><span class="dt-column-order"></span></th><th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Date of Birth: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Date of Birth</span><span class="dt-column-order"></span></th><th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Diagnosis: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Diagnosis</span><span class="dt-column-order"></span></th><th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="Triage: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">Triage</span><span class="dt-column-order"></span></th><th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label=": Activate to sort" tabindex="0"><span class="dt-column-title" role="button"></span><span class="dt-column-order"></span></th></tr>
										</thead>
										<tbody><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00001</td>
												<td class="table-image">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-02.jpg" alt=""> 
													<h2>Andrea Lalema</h2>
												</td>
												<td class="dt-type-numeric">21</td>
												<td>07 January 2002</td>
												<td>Heart attack</td>
												<td><button class="custom-badge status-green ">Non Urgent</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-patient.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00002</td>
												<td class="table-image">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-03.jpg" alt=""> 
													<h2>Mark Hay Smith</h2>
												</td>
												<td class="dt-type-numeric">23</td>
												<td>06 January 2002</td>
												<td>Jaundice</td>
												<td><button class="custom-badge status-pink">Emergency</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-patient.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00003</td>
												<td class="table-image">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-04.jpg" alt=""> 
													<h2>Cristina Groves</h2>
												</td>
												<td class="dt-type-numeric">25</td>
												<td>10 January 2002</td>
												<td>Malaria</td>
												<td><button class="custom-badge status-gray">Out Patient</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-patient.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr><tr>
												<td class="sorting_1">
													<div class="form-check check-tables">
														<input class="form-check-input" type="checkbox" value="something">
													</div>
												</td>
												<td class="dt-type-numeric">R00004</td>
												<td class="table-image">
													<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-05.jpg" alt=""> 
													<h2>Galaviz Lalema</h2>
												</td>
												<td class="dt-type-numeric">21</td>
												<td>09 January 2002</td>
												<td>Typhoid</td>
												<td><button class="custom-badge status-orange">Non Urgent</button></td>
												<td class="text-end">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="edit-patient.html"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr></tbody>
									<tfoot></tfoot></table></div></div><div class="dt-layout-row"><div class="dt-layout-cell dt-layout-start"><div class="dt-info" aria-live="polite" id="DataTables_Table_1_info" role="status">Showing 1 to 4 of 4 entries</div></div><div class="dt-layout-cell dt-layout-end"><div class="dt-paging"><nav aria-label="pagination"><button class="dt-paging-button disabled first" role="link" type="button" aria-controls="DataTables_Table_1" aria-disabled="true" aria-label="First" data-dt-idx="first" tabindex="-1">«</button><button class="dt-paging-button disabled previous" role="link" type="button" aria-controls="DataTables_Table_1" aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1">Previous</button><button class="dt-paging-button current" role="link" type="button" aria-controls="DataTables_Table_1" aria-current="page" data-dt-idx="0">1</button><button class="dt-paging-button disabled next" role="link" type="button" aria-controls="DataTables_Table_1" aria-disabled="true" aria-label="Next" data-dt-idx="next" tabindex="-1">Next</button><button class="dt-paging-button disabled last" role="link" type="button" aria-controls="DataTables_Table_1" aria-disabled="true" aria-label="Last" data-dt-idx="last" tabindex="-1">»</button></nav></div></div></div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>