
@using FleetManager.Business.ViewModels;
@model ChangeAdminPasswordViewModel
@{
	ViewData["Title"] = "Reset Password";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="login-right">
	<div class="login-right-wrap">
		<div class="account-logo">
			<a href="index.html"><img src="~/assets/img/login-logo.png" alt=""></a>
		</div>
		<h2>Enter New Password</h2>

		@if (Model.Errors != null && Model.Errors.Any())
		{
			<div class="alert alert-danger alert-dismissible fade show">
				@foreach (var error in Model.Errors)
				{
					<p>@error</p>
				}
			</div>
		}
		<!-- Form -->
		<form asp-action="ForceChangePassword">

			<input type="hidden" asp-for="UserId" />
			<input type="hidden" asp-for="Email" />

			<div class="input-block">
				<label asp-for="NewPassword">New Password <span class="login-danger">*</span></label>
				<input asp-for="NewPassword" class="form-control pass-input" type="password">
				<span asp-validation-for="NewPassword" class="profile-views feather-eye-off toggle-password"></span>
			</div>

			<div class="input-block">
				<label asp-for="ConfirmPassword">Confirm Password <span class="login-danger">*</span></label>
				<input asp-for="ConfirmPassword" class="form-control pass-input" type="password">
				<span asp-validation-for="ConfirmPassword" class="profile-views feather-eye-off toggle-password"></span>
			</div>
			<div class="input-block login-btn">
				<button class="btn btn-primary btn-block" type="submit">Change Password</button>
			</div>
		</form>
		<!-- /Form -->
	</div>
</div>

