@using FleetManager.Business.Database.IdentityModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	var user = await UserManager.GetUserAsync(User);
	var fullName = $"{user.FirstName} {user.LastName}";
}






<div class="content">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a asp-action="Index" asp-area="Admin">Dashboard </a></li>
					<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
					<li class="breadcrumb-item active">Admin's Dashboard</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Page Header -->

	<div class="good-morning-blk">
		<div class="row">
			<div class="col-md-6">
				<div class="morning-user">
					<h2>Good Morning, <span>@fullName</span></h2>
					<p>Have a nice day at work</p>
				</div>
			</div>
			<div class="col-md-6 position-blk">
				<div class="morning-img">
					<img src="assets/img/morning-img-02.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="doctor-list-blk">
		<div class="row">
			<div class="col-xl-3 col-md-6">
				<div class="doctor-widget border-right-bg">
					<div class="doctor-box-icon flex-shrink-0">
						<img src="assets/img/icons/doctor-dash-01.svg" alt="">
					</div>
					<div class="doctor-content dash-count flex-grow-1">
						<h4><span class="counter-up">30</span><span>/85</span><span class="status-green">+60%</span></h4>
						<a asp-action="Index" asp-controller="AdminVehicle" class="btn btn-primary">Vehicles</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="doctor-widget border-right-bg">
					<div class="doctor-box-icon flex-shrink-0">
						<img src="assets/img/icons/doctor-dash-02.svg" alt="">
					</div>
					<div class="doctor-content dash-count flex-grow-1">
						<h4><span class="counter-up">20</span><span>/125</span><span class="status-pink">-20%</span></h4>
						<a asp-action="Index" asp-controller="ManageDriver" class="btn btn-primary">Drivers</a>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="doctor-widget border-right-bg">
					<div class="doctor-box-icon flex-shrink-0">
						<img src="assets/img/icons/doctor-dash-03.svg" alt="">
					</div>
					<div class="doctor-content dash-count flex-grow-1">
						<h4><span class="counter-up">12</span><span>/30</span><span class="status-green">+40%</span></h4>
						<h5>Operations</h5>
					</div>
				</div>
			</div><div class="col-xl-3 col-md-6">
				<div class="doctor-widget">
					<div class="doctor-box-icon flex-shrink-0">
						<img src="assets/img/icons/doctor-dash-04.svg" alt="">
					</div>
					<div class="doctor-content dash-count flex-grow-1">
						<h4>$<span class="counter-up">530</span><span></span><span class="status-green">+50%</span></h4>
						<h5>Earnings</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12 col-lg-12 col-xl-7">
			<div class="card">
				<div class="card-body">
					<div class="chart-title patient-visit mb-0">
						<h4>Income</h4>
						<div class="income-value">
							<h3><span>$</span> 20,560</h3>
							<p><span class="passive-view"><i class="feather-arrow-up-right me-1"></i>40%</span> vs last month</p>
						</div>
						<div class="input-block mb-0">
							<select class="form-control select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
								<option data-select2-id="3">2022</option>
								<option>2021</option>
								<option>2020</option>
								<option>2019</option>
							</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-2y20-container"><span class="select2-selection__rendered" id="select2-2y20-container" role="textbox" aria-readonly="true" title="2022">2022</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
						</div>
					</div>
					<div id="apexcharts-area" style="min-height: 215px;">
						<div id="apexcharts2qa1t4he" class="apexcharts-canvas apexcharts2qa1t4he apexcharts-theme-" style="width: 664px; height: 200px;">
							<svg id="SvgjsSvg1429" width="664" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)">
								<foreignObject x="0" y="0" width="664" height="200"><div xmlns="http://www.w3.org/1999/xhtml" style="position: relative; height: 100%; width: 100%;"><div class="apexcharts-legend" style="max-height: 100px;"></div></div></foreignObject>
								<rect id="SvgjsRect1434" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
								<g id="SvgjsG1439" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
								<g id="SvgjsG1440" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
								<g id="SvgjsG1489" class="apexcharts-yaxis" rel="0" transform="translate(9.51767635345459, 0)"><g id="SvgjsG1490" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1492" font-family="Helvetica, Arial, sans-serif" x="20" y="33.666666666666664" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1493">80</tspan><title>80</title></text><text id="SvgjsText1495" font-family="Helvetica, Arial, sans-serif" x="20" y="77.99839979426065" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1496">60</tspan><title>60</title></text><text id="SvgjsText1498" font-family="Helvetica, Arial, sans-serif" x="20" y="122.33013292185464" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1499">40</tspan><title>40</title></text><text id="SvgjsText1501" font-family="Helvetica, Arial, sans-serif" x="20" y="166.66186604944863" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1502">20</tspan><title>20</title></text></g></g>
								<g id="SvgjsG1431" class="apexcharts-inner apexcharts-graphical" transform="translate(39.51767635345459, 30)">
									<defs id="SvgjsDefs1430"><clipPath id="gridRectMask2qa1t4he"><rect id="SvgjsRect1436" width="614.4823236465454" height="132.99519938278198" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectBarMask2qa1t4he"><rect id="SvgjsRect1437" width="623.4823236465454" height="141.99519938278198" x="-4.5" y="-4.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMask2qa1t4he"><rect id="SvgjsRect1438" width="614.4823236465454" height="132.99519938278198" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask2qa1t4he"></clipPath><clipPath id="nonForecastMask2qa1t4he"></clipPath></defs><line id="SvgjsLine1435" x1="0" y1="0" x2="0" y2="132.99519938278198" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="132.99519938278198" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><line id="SvgjsLine1450" x1="0" y1="132.99519938278198" x2="0" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1451" x1="102.41372060775757" y1="132.99519938278198" x2="102.41372060775757" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1452" x1="204.82744121551514" y1="132.99519938278198" x2="204.82744121551514" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1453" x1="307.2411618232727" y1="132.99519938278198" x2="307.2411618232727" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1454" x1="409.6548824310303" y1="132.99519938278198" x2="409.6548824310303" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1455" x1="512.0686030387878" y1="132.99519938278198" x2="512.0686030387878" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1456" x1="614.4823236465454" y1="132.99519938278198" x2="614.4823236465454" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><g id="SvgjsG1446" class="apexcharts-grid"><g id="SvgjsG1447" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1458" x1="0" y1="44.33173312759399" x2="614.4823236465454" y2="44.33173312759399" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1459" x1="0" y1="88.66346625518798" x2="614.4823236465454" y2="88.66346625518798" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1448" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1462" x1="0" y1="132.99519938278198" x2="614.4823236465454" y2="132.99519938278198" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1461" x1="0" y1="1" x2="0" y2="132.99519938278198" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1449" class="apexcharts-grid-borders"><line id="SvgjsLine1457" x1="0" y1="0" x2="614.4823236465454" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1460" x1="0" y1="132.99519938278198" x2="614.4823236465454" y2="132.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1488" x1="0" y1="132.99519938278198" x2="614.4823236465454" y2="132.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG1441" class="apexcharts-line-series apexcharts-plot-series">
										<g id="SvgjsG1442" class="apexcharts-series" zIndex="0" seriesName="Income" data:longestSeries="true" rel="1" data:realIndex="0">
											<path id="SvgjsPath1445" d="M 0 77.5805329732895C 35.844802212715145 77.5805329732895 66.5689183950424 44.33173312759399 102.41372060775755 44.33173312759399C 138.2585228204727 44.33173312759399 168.98263900279997 11.082933281898505 204.8274412155151 11.082933281898505C 240.67224342823027 11.082933281898505 271.39635961055757 64.2810130350113 307.2411618232727 64.2810130350113C 343.08596403598784 64.2810130350113 373.8100802183151 84.23029294242859 409.6548824310302 84.23029294242859C 445.49968464374535 84.23029294242859 476.22380082607265 84.23029294242859 512.0686030387878 84.23029294242859C 547.913405251503 84.23029294242859 578.6375214338302 110.82933281898498 614.4823236465454 110.82933281898498" fill="none" fill-opacity="1" stroke="rgba(46,55,164,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMask2qa1t4he)" pathTo="M 0 77.5805329732895C 35.844802212715145 77.5805329732895 66.5689183950424 44.33173312759399 102.41372060775755 44.33173312759399C 138.2585228204727 44.33173312759399 168.98263900279997 11.082933281898505 204.8274412155151 11.082933281898505C 240.67224342823027 11.082933281898505 271.39635961055757 64.2810130350113 307.2411618232727 64.2810130350113C 343.08596403598784 64.2810130350113 373.8100802183151 84.23029294242859 409.6548824310302 84.23029294242859C 445.49968464374535 84.23029294242859 476.22380082607265 84.23029294242859 512.0686030387878 84.23029294242859C 547.913405251503 84.23029294242859 578.6375214338302 110.82933281898498 614.4823236465454 110.82933281898498" pathFrom="M 0 177.32693251037597 L 0 177.32693251037597 L 102.41372060775755 177.32693251037597 L 204.8274412155151 177.32693251037597 L 307.2411618232727 177.32693251037597 L 409.6548824310302 177.32693251037597 L 512.0686030387878 177.32693251037597 L 614.4823236465454 177.32693251037597" fill-rule="evenodd"></path><g id="SvgjsG1443" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="0">
												<g class="apexcharts-series-markers">
													<path id="SvgjsPath1506" d="M 0, 0
           m -0, 0
           a 0,0 0 1,0 0,0
           a 0,0 0 1,0 -0,0" fill="#2e37a4" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-marker wn89jjmd9 no-pointer-events" default-marker-size="0"></path>
												</g>
											</g>
										</g><g id="SvgjsG1444" class="apexcharts-datalabels" data:realIndex="0"></g>
									</g><line id="SvgjsLine1463" x1="0" y1="0" x2="614.4823236465454" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1464" x1="0" y1="0" x2="614.4823236465454" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1465" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1466" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1468" font-family="Helvetica, Arial, sans-serif" x="0" y="160.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1469">Jan</tspan><title>Jan</title></text><text id="SvgjsText1471" font-family="Helvetica, Arial, sans-serif" x="102.41372060775757" y="160.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1472">Feb</tspan><title>Feb</title></text><text id="SvgjsText1474" font-family="Helvetica, Arial, sans-serif" x="204.82744121551514" y="160.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1475">Mar</tspan><title>Mar</title></text><text id="SvgjsText1477" font-family="Helvetica, Arial, sans-serif" x="307.2411618232727" y="160.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1478">Apr</tspan><title>Apr</title></text><text id="SvgjsText1480" font-family="Helvetica, Arial, sans-serif" x="409.6548824310303" y="160.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1481">May</tspan><title>May</title></text><text id="SvgjsText1483" font-family="Helvetica, Arial, sans-serif" x="512.0686030387878" y="160.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1484">Jun</tspan><title>Jun</title></text><text id="SvgjsText1486" font-family="Helvetica, Arial, sans-serif" x="614.4823236465454" y="160.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1487">Jul</tspan><title>Jul</title></text></g></g><g id="SvgjsG1503" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1504" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1505" class="apexcharts-point-annotations"></g><rect id="SvgjsRect1507" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect1508" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect>
								</g>
							</svg><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(46, 55, 164);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-12 col-lg-6 col-xl-3 d-flex">
			<div class="card">
				<div class="card-body">
					<div id="radial-patients" style="min-height: 287px;">
						<div id="apexchartsnm42d3wtg" class="apexcharts-canvas apexchartsnm42d3wtg apexcharts-theme-" style="width: 253px; height: 287px;">
							<svg id="SvgjsSvg1509" width="253" height="287" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)">
								<foreignObject x="0" y="0" width="253" height="287">
									<div xmlns="http://www.w3.org/1999/xhtml" style="position: relative; height: 100%; width: 100%;">
										<div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" style="right: 0px; position: absolute; left: 0px; top: 265px; max-height: 145px;">
											<div class="apexcharts-legend-series" rel="1" seriesname="Male" data:collapsed="false" style="margin: 4px 5px;">
												<span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
													<svg id="SvgjsSvg1512" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev">
														<defs id="SvgjsDefs1513"><clipPath id="gridRectMasknm42d3wtg"><rect id="SvgjsRect1518" width="253" height="256" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectBarMasknm42d3wtg"><rect id="SvgjsRect1519" width="259" height="262" x="-3" y="-3" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMasknm42d3wtg"><rect id="SvgjsRect1520" width="253" height="256" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMasknm42d3wtg"></clipPath><clipPath id="nonForecastMasknm42d3wtg"></clipPath></defs>
														<path id="SvgjsPath1514" d="M 0, 0
           m -7, 0
           a 7,7 0 1,0 14,0
           a 7,7 0 1,0 -14,0" fill="#008ffb" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path>
													</svg>
												</span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Male" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Male</span>
											</div><div class="apexcharts-legend-series" rel="2" seriesname="Female" data:collapsed="false" style="margin: 4px 5px;">
												<span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
													<svg id="SvgjsSvg1515" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev">
														<defs id="SvgjsDefs1516"></defs>
														<path id="SvgjsPath1517" d="M 0, 0
           m -7, 0
           a 7,7 0 1,0 14,0
           a 7,7 0 1,0 -14,0" fill="#00e396" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path>
													</svg>
												</span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Female" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Female</span>
											</div>
										</div>
									</div><style type="text/css">
											  .apexcharts-legend {
												  display: flex;
												  overflow: auto;
												  padding: 0 10px;
											  }

												  .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
													  flex-wrap: wrap
												  }

												  .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
													  flex-direction: column;
													  bottom: 0;
												  }

												  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
													  justify-content: flex-start;
												  }

												  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
													  justify-content: center;
												  }

												  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
													  justify-content: flex-end;
												  }

											  .apexcharts-legend-series {
												  cursor: pointer;
												  line-height: normal;
												  display: flex;
												  align-items: center;
											  }

											  .apexcharts-legend-text {
												  position: relative;
												  font-size: 14px;
											  }

												  .apexcharts-legend-text *, .apexcharts-legend-marker * {
													  pointer-events: none;
												  }

											  .apexcharts-legend-marker {
												  position: relative;
												  display: flex;
												  align-items: center;
												  justify-content: center;
												  cursor: pointer;
												  margin-right: 1px;
											  }

											  .apexcharts-legend-series.apexcharts-no-click {
												  cursor: auto;
											  }

											  .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
												  display: none !important;
											  }

											  .apexcharts-inactive-legend {
												  opacity: 0.45;
											  }</style>
								</foreignObject>
								<g id="SvgjsG1511" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1510"></defs><g id="SvgjsG1523" class="apexcharts-pie"><g id="SvgjsG1524" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1525" r="76.31951219512194" cx="126.5" cy="126.5" fill="transparent"></circle><g id="SvgjsG1526" class="apexcharts-slices"><g id="SvgjsG1527" class="apexcharts-series apexcharts-pie-series" seriesName="Male" rel="1" data:realIndex="0"><path id="SvgjsPath1528" d="M 126.50000000000001 9.08536585365853 A 117.41463414634147 117.41463414634147 0 0 1 166.65816999926267 236.83366527959421 L 152.60281049952073 198.21688243173622 A 76.31951219512194 76.31951219512194 0 0 0 126.5 50.180487804878055 L 126.50000000000001 9.08536585365853 z " fill="rgba(0,143,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="160" data:startAngle="0" data:strokeWidth="2" data:value="44" data:pathOrig="M 126.50000000000001 9.08536585365853 A 117.41463414634147 117.41463414634147 0 0 1 166.65816999926267 236.83366527959421 L 152.60281049952073 198.21688243173622 A 76.31951219512194 76.31951219512194 0 0 0 126.5 50.180487804878055 L 126.50000000000001 9.08536585365853 z " stroke="#ffffff"></path></g><g id="SvgjsG1529" class="apexcharts-series apexcharts-pie-series" seriesName="Female" rel="2" data:realIndex="1"><path id="SvgjsPath1530" d="M 166.65816999926267 236.83366527959421 A 117.41463414634147 117.41463414634147 0 1 1 126.47950728054523 9.08536764198567 L 126.4866797323544 50.180488967290685 A 76.31951219512194 76.31951219512194 0 1 0 152.60281049952073 198.21688243173622 L 166.65816999926267 236.83366527959421 z " fill="rgba(0,227,150,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="200" data:startAngle="160" data:strokeWidth="2" data:value="55" data:pathOrig="M 166.65816999926267 236.83366527959421 A 117.41463414634147 117.41463414634147 0 1 1 126.47950728054523 9.08536764198567 L 126.4866797323544 50.180488967290685 A 76.31951219512194 76.31951219512194 0 1 0 152.60281049952073 198.21688243173622 L 166.65816999926267 236.83366527959421 z " stroke="#ffffff"></path></g></g></g></g><line id="SvgjsLine1531" x1="0" y1="0" x2="253" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1532" x1="0" y1="0" x2="253" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g>
								<g id="SvgjsG1521" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
								<g id="SvgjsG1522" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
							</svg><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 143, 251);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-1" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 227, 150);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-12 col-lg-6 col-xl-2 d-flex">
			<div class="struct-point">
				<div class="card patient-structure">
					<div class="card-body">
						<h5>New Patients</h5>
						<h3>56<span class="status-green"><img src="assets/img/icons/sort-icon-01.svg" alt="" class="me-1">60%</span></h3>
					</div>
				</div>
				<div class="card patient-structure">
					<div class="card-body">
						<h5>Old Patients</h5>
						<h3>35<span class="status-pink"><img src="assets/img/icons/sort-icon-02.svg" alt="" class="me-1">-20%</span></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12  col-xl-7">
			<div class="card">
				<div class="card-body">
					<div class="chart-title patient-visit">
						<h4>Activity Chart</h4>
						<div>
							<ul class="nav chat-user-total">
								<li><i class="fa fa-circle low-users" aria-hidden="true"></i>Low</li>
								<li><i class="fa fa-circle current-users" aria-hidden="true"></i> High</li>
							</ul>
						</div>
						<div class="input-block mb-0">
							<select class="form-control select select2-hidden-accessible" data-select2-id="4" tabindex="-1" aria-hidden="true">
								<option data-select2-id="6">This Week</option>
								<option>Last Week</option>
								<option>This Month</option>
								<option>Last Month</option>
							</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="5" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-xrea-container"><span class="select2-selection__rendered" id="select2-xrea-container" role="textbox" aria-readonly="true" title="This Week">This Week</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
						</div>
					</div>
					<div id="activity-chart" style="min-height: 245px;">
						<div id="apexchartsiwwpuj5b" class="apexcharts-canvas apexchartsiwwpuj5b apexcharts-theme-" style="width: 664px; height: 230px;">
							<svg id="SvgjsSvg1269" width="664" height="230" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)">
								<foreignObject x="0" y="0" width="664" height="230">
									<div xmlns="http://www.w3.org/1999/xhtml" style="position: relative; height: 100%; width: 100%;">
										<div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" style="right: 0px; position: absolute; left: 0px; top: 205px; max-height: 115px;">
											<div class="apexcharts-legend-series" rel="1" seriesname="Low" data:collapsed="false" style="margin: 4px 5px;">
												<span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
													<svg id="SvgjsSvg1272" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev">
														<defs id="SvgjsDefs1273"><clipPath id="gridRectMaskiwwpuj5b"><rect id="SvgjsRect1285" width="602.6124019622803" height="138.99519938278198" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectBarMaskiwwpuj5b"><rect id="SvgjsRect1286" width="612.6124019622803" height="148.99519938278198" x="-5" y="-5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskiwwpuj5b"><rect id="SvgjsRect1287" width="602.6124019622803" height="138.99519938278198" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskiwwpuj5b"></clipPath><clipPath id="nonForecastMaskiwwpuj5b"></clipPath></defs>
														<path id="SvgjsPath1274" d="M -6.222222222222222 -6.222222222222222
           L 6.222222222222222 -6.222222222222222
           L 6.222222222222222 6.222222222222222
           L -6.222222222222222 6.222222222222222
           Z" fill="#d5d7ed" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="square" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-square" style="transform: translate(50%, 50%);"></path>
													</svg>
												</span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Low" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Low</span>
											</div><div class="apexcharts-legend-series" rel="2" seriesname="High" data:collapsed="false" style="margin: 4px 5px;">
												<span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
													<svg id="SvgjsSvg1275" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev">
														<defs id="SvgjsDefs1276"></defs>
														<path id="SvgjsPath1277" d="M -6.222222222222222 -6.222222222222222
           L 6.222222222222222 -6.222222222222222
           L 6.222222222222222 6.222222222222222
           L -6.222222222222222 6.222222222222222
           Z" fill="#2e37a4" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="round" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="square" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-square" style="transform: translate(50%, 50%);"></path>
													</svg>
												</span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="High" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">High</span>
											</div>
										</div>
									</div><style type="text/css">
											  .apexcharts-legend {
												  display: flex;
												  overflow: auto;
												  padding: 0 10px;
											  }

												  .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
													  flex-wrap: wrap
												  }

												  .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
													  flex-direction: column;
													  bottom: 0;
												  }

												  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
													  justify-content: flex-start;
												  }

												  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
													  justify-content: center;
												  }

												  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
													  justify-content: flex-end;
												  }

											  .apexcharts-legend-series {
												  cursor: pointer;
												  line-height: normal;
												  display: flex;
												  align-items: center;
											  }

											  .apexcharts-legend-text {
												  position: relative;
												  font-size: 14px;
											  }

												  .apexcharts-legend-text *, .apexcharts-legend-marker * {
													  pointer-events: none;
												  }

											  .apexcharts-legend-marker {
												  position: relative;
												  display: flex;
												  align-items: center;
												  justify-content: center;
												  cursor: pointer;
												  margin-right: 1px;
											  }

											  .apexcharts-legend-series.apexcharts-no-click {
												  cursor: auto;
											  }

											  .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
												  display: none !important;
											  }

											  .apexcharts-inactive-legend {
												  opacity: 0.45;
											  }</style>
								</foreignObject>
								<g id="SvgjsG1288" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
								<g id="SvgjsG1289" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
								<g id="SvgjsG1408" class="apexcharts-yaxis" rel="0" transform="translate(9.51767635345459, 0)"><g id="SvgjsG1409" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1411" font-family="Helvetica, Arial, sans-serif" x="20" y="33.666666666666664" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1412">80</tspan><title>80</title></text><text id="SvgjsText1414" font-family="Helvetica, Arial, sans-serif" x="20" y="68.41546651236216" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1415">60</tspan><title>60</title></text><text id="SvgjsText1417" font-family="Helvetica, Arial, sans-serif" x="20" y="103.16426635805766" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1418">40</tspan><title>40</title></text><text id="SvgjsText1420" font-family="Helvetica, Arial, sans-serif" x="20" y="137.91306620375315" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1421">20</tspan><title>20</title></text><text id="SvgjsText1423" font-family="Helvetica, Arial, sans-serif" x="20" y="172.66186604944863" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1424">0</tspan><title>0</title></text></g></g>
								<g id="SvgjsG1271" class="apexcharts-inner apexcharts-graphical" transform="translate(39.51767635345459, 30)"><defs id="SvgjsDefs1270"><linearGradient id="SvgjsLinearGradient1280" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1281" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop><stop id="SvgjsStop1282" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop><stop id="SvgjsStop1283" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop></linearGradient></defs><rect id="SvgjsRect1284" width="13.809867544968922" height="138.99519938278198" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke-dasharray="3" fill="url(#SvgjsLinearGradient1280)" class="apexcharts-xcrosshairs" y2="138.99519938278198" filter="none" fill-opacity="0.9"></rect><line id="SvgjsLine1347" x1="0" y1="138.99519938278198" x2="0" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1348" x1="50.217700163523354" y1="138.99519938278198" x2="50.217700163523354" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1349" x1="100.43540032704671" y1="138.99519938278198" x2="100.43540032704671" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1350" x1="150.65310049057007" y1="138.99519938278198" x2="150.65310049057007" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1351" x1="200.87080065409342" y1="138.99519938278198" x2="200.87080065409342" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1352" x1="251.08850081761676" y1="138.99519938278198" x2="251.08850081761676" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1353" x1="301.30620098114014" y1="138.99519938278198" x2="301.30620098114014" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1354" x1="351.5239011446635" y1="138.99519938278198" x2="351.5239011446635" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1355" x1="401.7416013081869" y1="138.99519938278198" x2="401.7416013081869" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1356" x1="451.95930147171026" y1="138.99519938278198" x2="451.95930147171026" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1357" x1="502.17700163523364" y1="138.99519938278198" x2="502.17700163523364" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1358" x1="552.394701798757" y1="138.99519938278198" x2="552.394701798757" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1359" x1="602.6124019622803" y1="138.99519938278198" x2="602.6124019622803" y2="144.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><g id="SvgjsG1343" class="apexcharts-grid"><g id="SvgjsG1344" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1361" x1="0" y1="34.748799845695494" x2="602.6124019622803" y2="34.748799845695494" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1362" x1="0" y1="69.49759969139099" x2="602.6124019622803" y2="69.49759969139099" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1363" x1="0" y1="104.24639953708649" x2="602.6124019622803" y2="104.24639953708649" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1345" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1366" x1="0" y1="138.99519938278198" x2="602.6124019622803" y2="138.99519938278198" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1365" x1="0" y1="1" x2="0" y2="138.99519938278198" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1346" class="apexcharts-grid-borders"><line id="SvgjsLine1360" x1="0" y1="0" x2="602.6124019622803" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1364" x1="0" y1="138.99519938278198" x2="602.6124019622803" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1407" x1="0" y1="138.99519938278198" x2="602.6124019622803" y2="138.99519938278198" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG1290" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG1291" class="apexcharts-series" rel="1" seriesName="Low" data:realIndex="0"><path id="SvgjsPath1296" d="M 14.298982536792755 135.99619938278198 L 14.298982536792755 107.2473995370865 L 22.108850081761677 107.2473995370865 L 22.108850081761677 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 14.298982536792755 135.99619938278198 L 14.298982536792755 107.2473995370865 L 22.108850081761677 107.2473995370865 L 22.108850081761677 135.99619938278198 Z" pathFrom="M 14.298982536792755 135.99619938278198 L 14.298982536792755 135.99619938278198 L 22.108850081761677 135.99619938278198 L 22.108850081761677 135.99619938278198 L 22.108850081761677 135.99619938278198 L 22.108850081761677 135.99619938278198 L 22.108850081761677 135.99619938278198 L 14.298982536792755 135.99619938278198 Z" cy="104.24639953708649" cx="58.51668270031611" j="0" val="20" barHeight="34.748799845695494" barWidth="13.809867544968922"></path><path id="SvgjsPath1298" d="M 64.51668270031611 135.99619938278198 L 64.51668270031611 89.87299961423874 L 72.32655024528503 89.87299961423874 L 72.32655024528503 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 64.51668270031611 135.99619938278198 L 64.51668270031611 89.87299961423874 L 72.32655024528503 89.87299961423874 L 72.32655024528503 135.99619938278198 Z" pathFrom="M 64.51668270031611 135.99619938278198 L 64.51668270031611 135.99619938278198 L 72.32655024528503 135.99619938278198 L 72.32655024528503 135.99619938278198 L 72.32655024528503 135.99619938278198 L 72.32655024528503 135.99619938278198 L 72.32655024528503 135.99619938278198 L 64.51668270031611 135.99619938278198 Z" cy="86.87199961423873" cx="108.73438286383947" j="1" val="30" barHeight="52.123199768543245" barWidth="13.809867544968922"></path><path id="SvgjsPath1300" d="M 114.73438286383947 135.99619938278198 L 114.73438286383947 70.76115969910622 L 122.5442504088084 70.76115969910622 L 122.5442504088084 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 114.73438286383947 135.99619938278198 L 114.73438286383947 70.76115969910622 L 122.5442504088084 70.76115969910622 L 122.5442504088084 135.99619938278198 Z" pathFrom="M 114.73438286383947 135.99619938278198 L 114.73438286383947 135.99619938278198 L 122.5442504088084 135.99619938278198 L 122.5442504088084 135.99619938278198 L 122.5442504088084 135.99619938278198 L 122.5442504088084 135.99619938278198 L 122.5442504088084 135.99619938278198 L 114.73438286383947 135.99619938278198 Z" cy="67.76015969910621" cx="158.95208302736282" j="2" val="41" barHeight="71.23503968367577" barWidth="13.809867544968922"></path><path id="SvgjsPath1302" d="M 164.95208302736282 135.99619938278198 L 164.95208302736282 25.587719899702076 L 172.76195057233173 25.587719899702076 L 172.76195057233173 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 164.95208302736282 135.99619938278198 L 164.95208302736282 25.587719899702076 L 172.76195057233173 25.587719899702076 L 172.76195057233173 135.99619938278198 Z" pathFrom="M 164.95208302736282 135.99619938278198 L 164.95208302736282 135.99619938278198 L 172.76195057233173 135.99619938278198 L 172.76195057233173 135.99619938278198 L 172.76195057233173 135.99619938278198 L 172.76195057233173 135.99619938278198 L 172.76195057233173 135.99619938278198 L 164.95208302736282 135.99619938278198 Z" cy="22.586719899702075" cx="209.16978319088616" j="3" val="67" barHeight="116.4084794830799" barWidth="13.809867544968922"></path><path id="SvgjsPath1304" d="M 215.16978319088616 135.99619938278198 L 215.16978319088616 103.77251955251694 L 222.97965073585507 103.77251955251694 L 222.97965073585507 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 215.16978319088616 135.99619938278198 L 215.16978319088616 103.77251955251694 L 222.97965073585507 103.77251955251694 L 222.97965073585507 135.99619938278198 Z" pathFrom="M 215.16978319088616 135.99619938278198 L 215.16978319088616 135.99619938278198 L 222.97965073585507 135.99619938278198 L 222.97965073585507 135.99619938278198 L 222.97965073585507 135.99619938278198 L 222.97965073585507 135.99619938278198 L 222.97965073585507 135.99619938278198 L 215.16978319088616 135.99619938278198 Z" cy="100.77151955251693" cx="259.38748335440954" j="4" val="22" barHeight="38.22367983026504" barWidth="13.809867544968922"></path><path id="SvgjsPath1306" d="M 265.38748335440954 135.99619938278198 L 265.38748335440954 67.28627971453666 L 273.1973508993785 67.28627971453666 L 273.1973508993785 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 265.38748335440954 135.99619938278198 L 265.38748335440954 67.28627971453666 L 273.1973508993785 67.28627971453666 L 273.1973508993785 135.99619938278198 Z" pathFrom="M 265.38748335440954 135.99619938278198 L 265.38748335440954 135.99619938278198 L 273.1973508993785 135.99619938278198 L 273.1973508993785 135.99619938278198 L 273.1973508993785 135.99619938278198 L 273.1973508993785 135.99619938278198 L 273.1973508993785 135.99619938278198 L 265.38748335440954 135.99619938278198 Z" cy="64.28527971453666" cx="309.6051835179329" j="5" val="43" barHeight="74.70991966824532" barWidth="13.809867544968922"></path><path id="SvgjsPath1308" d="M 315.6051835179329 135.99619938278198 L 315.6051835179329 72.498599691391 L 323.41505106290185 72.498599691391 L 323.41505106290185 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 315.6051835179329 135.99619938278198 L 315.6051835179329 72.498599691391 L 323.41505106290185 72.498599691391 L 323.41505106290185 135.99619938278198 Z" pathFrom="M 315.6051835179329 135.99619938278198 L 315.6051835179329 135.99619938278198 L 323.41505106290185 135.99619938278198 L 323.41505106290185 135.99619938278198 L 323.41505106290185 135.99619938278198 L 323.41505106290185 135.99619938278198 L 323.41505106290185 135.99619938278198 L 315.6051835179329 135.99619938278198 Z" cy="69.49759969139099" cx="359.8228836814563" j="6" val="40" barHeight="69.49759969139099" barWidth="13.809867544968922"></path><path id="SvgjsPath1310" d="M 365.8228836814563 135.99619938278198 L 365.8228836814563 124.62179945993424 L 373.6327512264252 124.62179945993424 L 373.6327512264252 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 365.8228836814563 135.99619938278198 L 365.8228836814563 124.62179945993424 L 373.6327512264252 124.62179945993424 L 373.6327512264252 135.99619938278198 Z" pathFrom="M 365.8228836814563 135.99619938278198 L 365.8228836814563 135.99619938278198 L 373.6327512264252 135.99619938278198 L 373.6327512264252 135.99619938278198 L 373.6327512264252 135.99619938278198 L 373.6327512264252 135.99619938278198 L 373.6327512264252 135.99619938278198 L 365.8228836814563 135.99619938278198 Z" cy="121.62079945993423" cx="410.04058384497966" j="7" val="10" barHeight="17.374399922847747" barWidth="13.809867544968922"></path><path id="SvgjsPath1312" d="M 416.04058384497966 135.99619938278198 L 416.04058384497966 89.87299961423874 L 423.8504513899486 89.87299961423874 L 423.8504513899486 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 416.04058384497966 135.99619938278198 L 416.04058384497966 89.87299961423874 L 423.8504513899486 89.87299961423874 L 423.8504513899486 135.99619938278198 Z" pathFrom="M 416.04058384497966 135.99619938278198 L 416.04058384497966 135.99619938278198 L 423.8504513899486 135.99619938278198 L 423.8504513899486 135.99619938278198 L 423.8504513899486 135.99619938278198 L 423.8504513899486 135.99619938278198 L 423.8504513899486 135.99619938278198 L 416.04058384497966 135.99619938278198 Z" cy="86.87199961423873" cx="460.25828400850304" j="8" val="30" barHeight="52.123199768543245" barWidth="13.809867544968922"></path><path id="SvgjsPath1314" d="M 466.25828400850304 135.99619938278198 L 466.25828400850304 107.2473995370865 L 474.068151553472 107.2473995370865 L 474.068151553472 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 466.25828400850304 135.99619938278198 L 466.25828400850304 107.2473995370865 L 474.068151553472 107.2473995370865 L 474.068151553472 135.99619938278198 Z" pathFrom="M 466.25828400850304 135.99619938278198 L 466.25828400850304 135.99619938278198 L 474.068151553472 135.99619938278198 L 474.068151553472 135.99619938278198 L 474.068151553472 135.99619938278198 L 474.068151553472 135.99619938278198 L 474.068151553472 135.99619938278198 L 466.25828400850304 135.99619938278198 Z" cy="104.24639953708649" cx="510.4759841720264" j="9" val="20" barHeight="34.748799845695494" barWidth="13.809867544968922"></path><path id="SvgjsPath1316" d="M 516.4759841720264 135.99619938278198 L 516.4759841720264 72.498599691391 L 524.2858517169954 72.498599691391 L 524.2858517169954 135.99619938278198 Z" fill="rgba(213,215,237,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 516.4759841720264 135.99619938278198 L 516.4759841720264 72.498599691391 L 524.2858517169954 72.498599691391 L 524.2858517169954 135.99619938278198 Z" pathFrom="M 516.4759841720264 135.99619938278198 L 516.4759841720264 135.99619938278198 L 524.2858517169954 135.99619938278198 L 524.2858517169954 135.99619938278198 L 524.2858517169954 135.99619938278198 L 524.2858517169954 135.99619938278198 L 524.2858517169954 135.99619938278198 L 516.4759841720264 135.99619938278198 Z" cy="69.49759969139099" cx="560.6936843355497" j="10" val="40" barHeight="69.49759969139099" barWidth="13.809867544968922"></path><g id="SvgjsG1293" class="apexcharts-bar-goals-markers"><g id="SvgjsG1295" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1297" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1299" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1301" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1303" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1305" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1307" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1309" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1311" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1313" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1315" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g></g><g id="SvgjsG1294" class="apexcharts-bar-shadows apexcharts-hidden-element-shown"></g></g><g id="SvgjsG1317" class="apexcharts-series" rel="2" seriesName="High" data:realIndex="1"><path id="SvgjsPath1322" d="M 28.108850081761677 135.99619938278198 L 28.108850081761677 119.4094794830799 L 35.9187176267306 119.4094794830799 L 35.9187176267306 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 28.108850081761677 135.99619938278198 L 28.108850081761677 119.4094794830799 L 35.9187176267306 119.4094794830799 L 35.9187176267306 135.99619938278198 Z" pathFrom="M 28.108850081761677 135.99619938278198 L 28.108850081761677 135.99619938278198 L 35.9187176267306 135.99619938278198 L 35.9187176267306 135.99619938278198 L 35.9187176267306 135.99619938278198 L 35.9187176267306 135.99619938278198 L 35.9187176267306 135.99619938278198 L 28.108850081761677 135.99619938278198 Z" cy="116.4084794830799" cx="72.32655024528503" j="0" val="13" barHeight="22.58671989970207" barWidth="13.809867544968922"></path><path id="SvgjsPath1324" d="M 78.32655024528503 135.99619938278198 L 78.32655024528503 102.03507956023216 L 86.13641779025396 102.03507956023216 L 86.13641779025396 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 78.32655024528503 135.99619938278198 L 78.32655024528503 102.03507956023216 L 86.13641779025396 102.03507956023216 L 86.13641779025396 135.99619938278198 Z" pathFrom="M 78.32655024528503 135.99619938278198 L 78.32655024528503 135.99619938278198 L 86.13641779025396 135.99619938278198 L 86.13641779025396 135.99619938278198 L 86.13641779025396 135.99619938278198 L 86.13641779025396 135.99619938278198 L 86.13641779025396 135.99619938278198 L 78.32655024528503 135.99619938278198 Z" cy="99.03407956023216" cx="122.5442504088084" j="1" val="23" barHeight="39.96111982254982" barWidth="13.809867544968922"></path><path id="SvgjsPath1326" d="M 128.5442504088084 135.99619938278198 L 128.5442504088084 107.2473995370865 L 136.35411795377732 107.2473995370865 L 136.35411795377732 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 128.5442504088084 135.99619938278198 L 128.5442504088084 107.2473995370865 L 136.35411795377732 107.2473995370865 L 136.35411795377732 135.99619938278198 Z" pathFrom="M 128.5442504088084 135.99619938278198 L 128.5442504088084 135.99619938278198 L 136.35411795377732 135.99619938278198 L 136.35411795377732 135.99619938278198 L 136.35411795377732 135.99619938278198 L 136.35411795377732 135.99619938278198 L 136.35411795377732 135.99619938278198 L 128.5442504088084 135.99619938278198 Z" cy="104.24639953708649" cx="172.76195057233173" j="2" val="20" barHeight="34.748799845695494" barWidth="13.809867544968922"></path><path id="SvgjsPath1328" d="M 178.76195057233173 135.99619938278198 L 178.76195057233173 128.09667944450376 L 186.57181811730064 128.09667944450376 L 186.57181811730064 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 178.76195057233173 135.99619938278198 L 178.76195057233173 128.09667944450376 L 186.57181811730064 128.09667944450376 L 186.57181811730064 135.99619938278198 Z" pathFrom="M 178.76195057233173 135.99619938278198 L 178.76195057233173 135.99619938278198 L 186.57181811730064 135.99619938278198 L 186.57181811730064 135.99619938278198 L 186.57181811730064 135.99619938278198 L 186.57181811730064 135.99619938278198 L 186.57181811730064 135.99619938278198 L 178.76195057233173 135.99619938278198 Z" cy="125.09567944450377" cx="222.97965073585507" j="3" val="8" barHeight="13.899519938278198" barWidth="13.809867544968922"></path><path id="SvgjsPath1330" d="M 228.97965073585507 135.99619938278198 L 228.97965073585507 119.4094794830799 L 236.78951828082398 119.4094794830799 L 236.78951828082398 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 228.97965073585507 135.99619938278198 L 228.97965073585507 119.4094794830799 L 236.78951828082398 119.4094794830799 L 236.78951828082398 135.99619938278198 Z" pathFrom="M 228.97965073585507 135.99619938278198 L 228.97965073585507 135.99619938278198 L 236.78951828082398 135.99619938278198 L 236.78951828082398 135.99619938278198 L 236.78951828082398 135.99619938278198 L 236.78951828082398 135.99619938278198 L 236.78951828082398 135.99619938278198 L 228.97965073585507 135.99619938278198 Z" cy="116.4084794830799" cx="273.1973508993785" j="4" val="13" barHeight="22.58671989970207" barWidth="13.809867544968922"></path><path id="SvgjsPath1332" d="M 279.1973508993785 135.99619938278198 L 279.1973508993785 95.08531959109305 L 287.0072184443474 95.08531959109305 L 287.0072184443474 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 279.1973508993785 135.99619938278198 L 279.1973508993785 95.08531959109305 L 287.0072184443474 95.08531959109305 L 287.0072184443474 135.99619938278198 Z" pathFrom="M 279.1973508993785 135.99619938278198 L 279.1973508993785 135.99619938278198 L 287.0072184443474 135.99619938278198 L 287.0072184443474 135.99619938278198 L 287.0072184443474 135.99619938278198 L 287.0072184443474 135.99619938278198 L 287.0072184443474 135.99619938278198 L 279.1973508993785 135.99619938278198 Z" cy="92.08431959109305" cx="323.41505106290185" j="5" val="27" barHeight="46.91087979168892" barWidth="13.809867544968922"></path><path id="SvgjsPath1334" d="M 329.41505106290185 135.99619938278198 L 329.41505106290185 89.87299961423874 L 337.2249186078708 89.87299961423874 L 337.2249186078708 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 329.41505106290185 135.99619938278198 L 329.41505106290185 89.87299961423874 L 337.2249186078708 89.87299961423874 L 337.2249186078708 135.99619938278198 Z" pathFrom="M 329.41505106290185 135.99619938278198 L 329.41505106290185 135.99619938278198 L 337.2249186078708 135.99619938278198 L 337.2249186078708 135.99619938278198 L 337.2249186078708 135.99619938278198 L 337.2249186078708 135.99619938278198 L 337.2249186078708 135.99619938278198 L 329.41505106290185 135.99619938278198 Z" cy="86.87199961423873" cx="373.6327512264252" j="6" val="30" barHeight="52.123199768543245" barWidth="13.809867544968922"></path><path id="SvgjsPath1336" d="M 379.6327512264252 135.99619938278198 L 379.6327512264252 98.56019957566261 L 387.44261877139417 98.56019957566261 L 387.44261877139417 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 379.6327512264252 135.99619938278198 L 379.6327512264252 98.56019957566261 L 387.44261877139417 98.56019957566261 L 387.44261877139417 135.99619938278198 Z" pathFrom="M 379.6327512264252 135.99619938278198 L 379.6327512264252 135.99619938278198 L 387.44261877139417 135.99619938278198 L 387.44261877139417 135.99619938278198 L 387.44261877139417 135.99619938278198 L 387.44261877139417 135.99619938278198 L 387.44261877139417 135.99619938278198 L 379.6327512264252 135.99619938278198 Z" cy="95.5591995756626" cx="423.8504513899486" j="7" val="25" barHeight="43.435999807119366" barWidth="13.809867544968922"></path><path id="SvgjsPath1338" d="M 429.8504513899486 135.99619938278198 L 429.8504513899486 124.62179945993424 L 437.66031893491754 124.62179945993424 L 437.66031893491754 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 429.8504513899486 135.99619938278198 L 429.8504513899486 124.62179945993424 L 437.66031893491754 124.62179945993424 L 437.66031893491754 135.99619938278198 Z" pathFrom="M 429.8504513899486 135.99619938278198 L 429.8504513899486 135.99619938278198 L 437.66031893491754 135.99619938278198 L 437.66031893491754 135.99619938278198 L 437.66031893491754 135.99619938278198 L 437.66031893491754 135.99619938278198 L 437.66031893491754 135.99619938278198 L 429.8504513899486 135.99619938278198 Z" cy="121.62079945993423" cx="474.068151553472" j="8" val="10" barHeight="17.374399922847747" barWidth="13.809867544968922"></path><path id="SvgjsPath1340" d="M 480.068151553472 135.99619938278198 L 480.068151553472 115.93459949851035 L 487.8780190984409 115.93459949851035 L 487.8780190984409 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 480.068151553472 135.99619938278198 L 480.068151553472 115.93459949851035 L 487.8780190984409 115.93459949851035 L 487.8780190984409 135.99619938278198 Z" pathFrom="M 480.068151553472 135.99619938278198 L 480.068151553472 135.99619938278198 L 487.8780190984409 135.99619938278198 L 487.8780190984409 135.99619938278198 L 487.8780190984409 135.99619938278198 L 487.8780190984409 135.99619938278198 L 487.8780190984409 135.99619938278198 L 480.068151553472 135.99619938278198 Z" cy="112.93359949851035" cx="524.2858517169954" j="9" val="15" barHeight="26.061599884271622" barWidth="13.809867544968922"></path><path id="SvgjsPath1342" d="M 530.2858517169954 135.99619938278198 L 530.2858517169954 107.2473995370865 L 538.0957192619643 107.2473995370865 L 538.0957192619643 135.99619938278198 Z" fill="rgba(46,55,164,0.85)" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="round" stroke-width="6" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectBarMaskiwwpuj5b)" pathTo="M 530.2858517169954 135.99619938278198 L 530.2858517169954 107.2473995370865 L 538.0957192619643 107.2473995370865 L 538.0957192619643 135.99619938278198 Z" pathFrom="M 530.2858517169954 135.99619938278198 L 530.2858517169954 135.99619938278198 L 538.0957192619643 135.99619938278198 L 538.0957192619643 135.99619938278198 L 538.0957192619643 135.99619938278198 L 538.0957192619643 135.99619938278198 L 538.0957192619643 135.99619938278198 L 530.2858517169954 135.99619938278198 Z" cy="104.24639953708649" cx="574.5035518805187" j="10" val="20" barHeight="34.748799845695494" barWidth="13.809867544968922"></path><g id="SvgjsG1319" class="apexcharts-bar-goals-markers"><g id="SvgjsG1321" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1323" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1325" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1327" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1329" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1331" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1333" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1335" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1337" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1339" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g><g id="SvgjsG1341" className="apexcharts-bar-goals-groups" class="apexcharts-hidden-element-shown" clip-path="url(#gridRectMarkerMaskiwwpuj5b)"></g></g><g id="SvgjsG1320" class="apexcharts-bar-shadows apexcharts-hidden-element-shown"></g></g><g id="SvgjsG1292" class="apexcharts-datalabels apexcharts-hidden-element-shown" data:realIndex="0"></g><g id="SvgjsG1318" class="apexcharts-datalabels apexcharts-hidden-element-shown" data:realIndex="1"></g></g><line id="SvgjsLine1367" x1="0" y1="0" x2="602.6124019622803" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1368" x1="0" y1="0" x2="602.6124019622803" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1369" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1370" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1372" font-family="Helvetica, Arial, sans-serif" x="25.108850081761677" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1373">Jan</tspan><title>Jan</title></text><text id="SvgjsText1375" font-family="Helvetica, Arial, sans-serif" x="75.32655024528503" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1376">Feb</tspan><title>Feb</title></text><text id="SvgjsText1378" font-family="Helvetica, Arial, sans-serif" x="125.5442504088084" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1379">Mar</tspan><title>Mar</title></text><text id="SvgjsText1381" font-family="Helvetica, Arial, sans-serif" x="175.76195057233173" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1382">Apr</tspan><title>Apr</title></text><text id="SvgjsText1384" font-family="Helvetica, Arial, sans-serif" x="225.97965073585507" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1385">May</tspan><title>May</title></text><text id="SvgjsText1387" font-family="Helvetica, Arial, sans-serif" x="276.1973508993785" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1388">Jun</tspan><title>Jun</title></text><text id="SvgjsText1390" font-family="Helvetica, Arial, sans-serif" x="326.41505106290185" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1391">Jul</tspan><title>Jul</title></text><text id="SvgjsText1393" font-family="Helvetica, Arial, sans-serif" x="376.6327512264252" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1394">Aug</tspan><title>Aug</title></text><text id="SvgjsText1396" font-family="Helvetica, Arial, sans-serif" x="426.8504513899486" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1397">Sep</tspan><title>Sep</title></text><text id="SvgjsText1399" font-family="Helvetica, Arial, sans-serif" x="477.068151553472" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1400">Oct</tspan><title>Oct</title></text><text id="SvgjsText1402" font-family="Helvetica, Arial, sans-serif" x="527.2858517169952" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1403">Nov</tspan><title>Nov</title></text><text id="SvgjsText1405" font-family="Helvetica, Arial, sans-serif" x="577.5035518805186" y="166.99519938278198" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1406">Dec</tspan><title>Dec</title></text></g></g><g id="SvgjsG1425" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1426" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1427" class="apexcharts-point-annotations"></g></g>
							</svg><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-0" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(213, 215, 237);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-tooltip-series-group-1" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(46, 55, 164);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12  col-xl-8">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title d-inline-block">Recent Appointments</h4> <a href="appointments.html" class="patient-views float-end">Show all</a>
						</div>
						<div class="card-body p-0 table-dash">
							<div class="table-responsive">
								<table class="table mb-0 border-0 custom-table">
									<tbody>
										<tr>
											<td class="table-image appoint-doctor">
												<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-02.jpg" alt="">
												<h2>Dr.Jenny Smith</h2>
											</td>
											<td class="appoint-time text-center">
												<h6>Today 5:40 PM</h6>
												<span>Typoid Fever</span>
											</td>
											<td>
												<button class="check-point status-green me-1"><i class="feather-check"></i></button>
												<button class="check-point status-pink "><i class="feather-x"></i></button>
											</td>
										</tr>
										<tr>
											<td class="table-image appoint-doctor">
												<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-03.jpg" alt="">
												<h2>Dr.Angelica Ramos</h2>
											</td>
											<td class="appoint-time text-center">
												<h6>Today 5:40 PM</h6>
												<span>Typoid Fever</span>
											</td>
											<td>
												<button class="check-point status-green me-1"><i class="feather-check"></i></button>
												<button class="check-point status-pink "><i class="feather-x"></i></button>
											</td>
										</tr>
										<tr>
											<td class="table-image appoint-doctor">
												<img width="28" height="28" class="rounded-circle" src="assets/img/profiles/avatar-04.jpg" alt="">
												<h2>Dr.Martin Doe</h2>
											</td>
											<td class="appoint-time text-center">
												<h6>Today 5:40 PM</h6>
												<span>Typoid Fever</span>
											</td>
											<td>
												<button class="check-point status-green me-1"><i class="feather-check"></i></button>
												<button class="check-point status-pink "><i class="feather-x"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12  col-xl-4 d-flex">
					<div class="card wallet-widget">
						<div class="circle-bar circle-bar2">
							<div class="circle-graph2" data-percent="66">
								<canvas width="500" height="500" style="height: 400px; width: 400px;"></canvas>
								<b><img src="assets/img/icons/timer.svg" alt=""></b>
							</div>
						</div>
						<div class="main-limit">
							<p>Next Appointment in</p>
							<h4>02h:12m</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-12 col-xl-5 d-flex">
			<div class="card flex-fill comman-shadow">
				<div class="card-header">
					<h4 class="card-title d-inline-block">Recent Appointments</h4> <a href="appointments.html" class="patient-views float-end">Show all</a>
				</div>
				<div class="card-body">
					<div class="teaching-card">
						<ul class="steps-history">
							<li>08:00</li>
						</ul>
						<ul class="activity-feed">
							<li class="feed-item d-flex align-items-center">
								<div class="dolor-activity hide-activity">
									<ul class="doctor-date-list mb-2">
										<li class="stick-line"><i class="fas fa-circle me-2"></i>08:00 <span>Benjamin Bruklin</span></li>
										<li class="stick-line"><i class="fas fa-circle me-2"></i>08:00 <span>Andrea Lalema</span></li>
										<li class=" dropdown ongoing-blk ">
											<a href="#" class="dropdown-toggle  active-doctor" data-bs-toggle="dropdown">
												<i class="fas fa-circle me-2 active-circles"></i>08:00 <span>Andrea Lalema</span><span class="ongoing-drapt">Ongoing <i class="feather-chevron-down ms-2"></i></span>
											</a>
											<ul class="doctor-sub-list dropdown-menu">
												<li class="patient-new-list dropdown-item">Patient<span>Marie kennedy</span><a href="javascript:;" class="new-dot status-green"><i class="fas fa-circle me-1 fa-2xs"></i>New</a></li>
												<li class="dropdown-item">Time<span>8:30 - 9:00 (30min)</span></li>
												<li class="schedule-blk mb-0 pt-2 dropdown-item">
													<ul class="nav schedule-time">
														<li><a href="javascript:;"><img src="assets/img/icons/trash.svg" alt=""></a></li>
														<li><a href="javascript:;"><img src="assets/img/icons/profile.svg" alt=""></a></li>
														<li><a href="javascript:;"><img src="assets/img/icons/edit.svg" alt=""></a></li>
													</ul>
													<a class="btn btn-primary appoint-start">Start Appointment</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="teaching-card">
						<ul class="steps-history">
							<li>09:00</li>
						</ul>
						<ul class="activity-feed">
							<li class="feed-item d-flex align-items-center">
								<div class="dolor-activity">
									<ul class="doctor-date-list mb-2">
										<li><i class="fas fa-circle me-2"></i>09:00 <span>Galaviz Lalema</span></li>
										<li><i class="fas fa-circle me-2"></i>09:20 <span>Benjamin Bruklin</span></li>
										<li><i class="fas fa-circle me-2"></i>09:40 <span>Jenny Smith</span></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="teaching-card">
						<ul class="steps-history">
							<li>10:00</li>
						</ul>
						<ul class="activity-feed">
							<li class="feed-item d-flex align-items-center">
								<div class="dolor-activity">
									<ul class="doctor-date-list mb-2">
										<li><i class="fas fa-circle me-2"></i>10:00 <span>Cristina Groves</span></li>
										<li><i class="fas fa-circle me-2"></i>10:30 <span>Benjamin Bruklin</span></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="teaching-card">
						<ul class="steps-history">
							<li>11:00</li>
						</ul>
						<ul class="activity-feed">
							<li class="feed-item d-flex align-items-center">
								<div class="dolor-activity">
									<ul class="doctor-date-list mb-2">
										<li><i class="fas fa-circle me-2"></i>11:00 <span>Cristina Groves</span></li>
										<li><i class="fas fa-circle me-2"></i>11:30 <span>Benjamin Bruklin</span></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>