@using FleetManager.Business.ViewModels
@model LoginViewModel
@{
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="login-right">
	<div class="login-right-wrap">
		<div class="account-logo">
			@* <a href="index.html"><img src="~/assets/img/login-logo.png" alt=""></a> *@
		</div>
		<h2>Login</h2>
		@if (Model?.Errors != null && Model.Errors.Any())
		{
			<div class="alert alert-danger">
				@foreach (var error in Model.Errors)
				{
					<div>@error</div>
				}
			</div>
		}


		<!-- Form -->
		<form asp-action="Login">
			<div class="input-block">
				<label asp-for="Email">Email <span class="login-danger">*</span></label>
				<input asp-for="Email" class="form-control" type="text">
			</div>
			<div class="input-block">
				<label asp-for="Password">Password <span class="login-danger">*</span></label>
				<input asp-for="Password" class="form-control pass-input" type="password">
				<span asp-validation-for="Password" class="profile-views feather-eye-off toggle-password"></span>
			</div>
			<div class="forgotpass">
				<div class="remember-me">
					<label asp-for="RememberMe" class="custom_check mr-2 mb-0 d-inline-flex remember-me">
						Remember me
						<input asp-for="RememberMe" type="checkbox" name="radio">
						<span asp-validation-for="RememberMe" class="checkmark"></span>
					</label>
				</div>
				<a asp-action="ForgotPassword">Forgot Password?</a>
			</div>
			<div class="input-block login-btn">
				<button class="btn btn-primary btn-block" type="submit">Login</button>
			</div>
		</form>
		<!-- /Form -->
		<div class="next-sign">
			<p class="account-subtitle">Need Driver Management Software?  <a asp-action="Create" asp-controller="User" asp-area="Company">Sign Up</a></p>

			<!-- Social Login -->
			<div class="social-login">
				<a href="javascript:;"><img src="assets/img/icons/login-icon-01.svg" alt=""></a>
				<a href="javascript:;"><img src="assets/img/icons/login-icon-02.svg" alt=""></a>
				<a href="javascript:;"><img src="assets/img/icons/login-icon-03.svg" alt=""></a>
			</div>
			<!-- /Social Login -->

		</div>
	</div>
</div>