@using FleetManager.Business.Database.IdentityModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	var user = await UserManager.GetUserAsync(User);
	var userName = $"{user.FirstName}";
}







<div class="content">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Dashboard </a></li>
					<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
					<li class="breadcrumb-item active">Patient Dashboard</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Page Header -->

	<div class="good-morning-blk">
		<div class="row">
			<div class="col-md-6">
				<div class="morning-user">
					<!-- Dynamic message to usernName shows here -->
				</div>
			</div>
			<div class="col-md-6 position-blk">
				<div class="morning-img">
					<img src="~/assets/img/morning-img-03.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<!-- Page data and user contents -->

									
	
</div>












<script>
	(function(){
	  const name = "@userName";          // injected by Razor
	  const hour = new Date().getHours();
	  let greeting, subMessage;

	  if (hour < 12) {
		greeting   = "Good Morning";
		subMessage = "Have a productive start and let’s make today count!";
	  } else if (hour < 17) {
		greeting   = "Good Afternoon";
		subMessage = "Keep up the great work this afternoon!";
	  } else {
		greeting   = "Good Evening";
		subMessage = "Time to relax, tomorrow’s challenges await.";
	  }

	  const container = document.querySelector('.morning-user');
	  container.innerHTML = `
		<h2>${greeting}, <span>${name}</span></h2>
		<p>${subMessage}</p>
	  `;
	})();
</script>
